@charset "UTF-8";

@import url(reset.css);

/* ======================================================
 CSS information

 file name  :common.css
 author     :Lady Beetle Design (admin)
 style info :共通部分のスタイル
 created    :2011.01.25 [Lady Beetle Design]
 update     :2011.01.25
 
/*======================================================
	common styles
======================================================*/

body{
	font-family: Arial, Helvetica,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
	line-height:1.5;
	font-size:12px;
	*font-size:86%;/*IE*/
	color:#333;
	text-align:center;
	background:#FFF url(../images/subnav_bg.png) repeat-x 0 90px;
}
a{color:#333;
	text-decoration:underline;
	outline:none;}
a:hover{color:#666;text-decoration:none;}
ul{list-style:none;}
img{border:0;}
.clear{clear:both;}
.flL{float:left;}
.flR{float:right;}
.alL{text-align:left;}
.alR{text-align:right;}
.alC{text-align:center;}
table{border-collapse:collapse;}
input{font-size:14px;}
.w50{width:50px;}
.w80{width:80px;}
.w130{width:130px;}
.w200{width:200px;}
.w300{width:300px;}
.w450{width:450px;}

/*	clearfix
-----------------------------------------------*/
.clearfix:after {  
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}

/*======================================================
	Layouts
======================================================*/
div#container{
	width:960px;
	margin:0 auto;
	text-align:left;
}
header{
	width:960px;
	margin:0 auto 37px;
	text-align:left;
	height:118px;
}

div#wrapper{
	width:960px;
}
body#top div#wrapper{
	width:720px;
	float:left;
}
div#sub1{
	width:200px;
	float:left;
}
div#sub2{
	width:200px;
	float:right;
}
div#main{
	width:720px;
	float:right;
}
body#top div#main{
	width:480px;
}
footer{
	clear:both;
	width:100%;
	background-color:#ececec;
	border-top:1px dotted #a0a0a0;
	padding:20px 0;
}
section{
	margin-bottom:20px;
}

/*======================================================
	header
======================================================*/
header hgroup{
	float:left;
	margin-top:20px;
}
header hgroup h1{
	font-size:22px;
	margin-bottom:2px;
}
header aside{
	float:right;
	height:95px;
}
header aside section#head_cart{
	float:left;
	width:340px;
	border:1px solid #ccc;
	margin-top:15px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.8);
}
header aside section#head_cart h1{
	background-color:#ececec;
	background-image:none;
	color:#333;
	font-size:12px;
	margin:5px;
	padding:3px 0 3px 5px;
	font-weight:normal;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
}
header aside section#head_cart p#sum{
	padding:0 0 5px 10px;
}
header aside section#head_cart p.head_btn{
	float:right;
	margin:5px 5px 0 0;
}
header aside section#login{
	float:right;
	text-align:right;
	margin:15px 0 0 20px;
}



/*	nav
-----------------------------------------------*/
header nav{
	clear:both;
	text-align:right;
	position:relative;
}
header nav ul:after {  
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
header nav ul{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}
header nav ul li{
	float:left;
	margin-left:20px;
	text-align:right;
}
header nav ul li a{
	background:url(../images/subnav_icon.png) no-repeat 0 5px;
	padding-left:10px;
}
header nav p{
	position:absolute;
	top:0;
	left:5px;
}

/*======================================================
	Titleまわり
======================================================*/
section h1{
	background:#f2f9fc url(../images/title_main_bg.png) no-repeat 6px 7px;
	padding:5px 0 5px 28px;
	color:#146685;
	margin-bottom:8px;
	font-size:14px;
	border:1px solid #b6dfef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
section.info h1{
	background:#e5e5e5 url(../images/title_sub_bg.png) no-repeat 6px 7px;
	color:#313131;
	border:1px solid #ccc;
}


/*======================================================
	subカラム
======================================================*/

/*	カテゴリ
-----------------------------------------------*/
section#category ul li a{
	display:block;
	text-decoration:none;
	background:url(../images/category_icon_1.png) no-repeat 0 1px;
	padding:7px 0 6px 18px;
	font-weight:bold;
	border-bottom:1px solid #b9b9b9;
}
section#category ul li a:hover{
	background-color:#dddddd;
}
section#category ul li ul li a{
	background:url(../images/category_icon_2.png) no-repeat 8px 7px;
	padding:3px 0 3px 23px;
	font-weight:normal;
	border-bottom:1px solid #b9b9b9;
}
section#category ul li ul li a:hover{
	background-color:#eeeeee;
}
section#category ul li ul li ul li a{
	background:url(../images/category_icon_3.png) no-repeat 20px 8px;
	padding:3px 0 3px 30px;
	font-weight:normal;
	color:#666;
	border-bottom:1px dotted #b9b9b9;
}
section#category ul li ul li ul li a:hover{
	background-color:#f0f0f0;
}

/*	検索
-----------------------------------------------*/
section#search input.w130{
	margin-right:10px;
}

/*	カレンダー
-----------------------------------------------*/
section#calender h2{
	text-align:center;
	background-color:#efefef;
	padding:3px 5px 3px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:10px;
}
section#calender table{
	border:1px solid #efefef;
	width:100%;
	margin-bottom:10px;
}
section#calender table th,
section#calender table td{
	border:1px solid #efefef;
	text-align:center;
}
section#calender table .sun{
	color:#C00;
}
section#calender table .sat{
	color:#36C;
}
section#calender table .close{
	background-color:#fce4e4;
}
section#calender p{
	line-height:1.3;
	font-size:10px;
}

/*	ランキング
-----------------------------------------------*/
section#ranking ul li{
	position:relative;
	border-bottom:1px dotted #ccc;
	padding:5px 0;
}
section#ranking ul li p{
	position:absolute;
	top:25px;
	left:85px;
}

/*	community
-----------------------------------------------*/
section#community ul li{
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-left:30px;
}
section#community ul li.twitter{
	background:url(../images/icon_twitter.png) no-repeat 0 0;
}
section#community ul li.hatena{
	background:url(../images/icon_hatena.png) no-repeat 0 0;
}
section#community ul li.facebook{
	background:url(../images/icon_facebook.png) no-repeat 0 0;
}
section#community ul li.facebook iframe{
	margin-left:-30px;
	margin-top:5px;
}

/*	PR
-----------------------------------------------*/
section#pr ul li{
	margin-bottom:8px;
}


/*======================================================
	mainカラム
======================================================*/

/*	Common
-----------------------------------------------*/
p.link{
	text-align:right;
}
p.link a{
	background:url(../images/icon_link.png) no-repeat 0 0;
	padding-left:18px;
}

/*	タグ
-----------------------------------------------*/
p.tag span{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	background-color:#999;
	padding:1px 2px;
	margin-right:2px;
	font-size:10px;
	font-weight:bold;
}
p.tag span.orange{
	background-color:#d78d30;
}
p.tag span.blue{
	background-color:#6ab8d5;
}
p.tag span.green{
	background-color:#5fc248;
}
p.tag span.pink{
	background-color:#d56a7c;
}

/*	news
-----------------------------------------------*/
section#news h1{
	background:url(../images/news_title_bg.png) repeat-x 0 0;
	border:1px solid #ccc;
	padding:8px 0 8px 15px;
	color:#636363;
	letter-spacing:0.2em;
}
section#news ul{
}
section#news ul li{
	background:url(../images/news_icon.png) no-repeat 5px 10px;
	padding:5px 0 5px 17px;
	border-bottom:1px dotted #ccc;
}
section#news ul li time{
	font-size:10px;
	color:#666;
}

/*	pankuzu
-----------------------------------------------*/
p#pankuzu{
	margin-bottom:15px;
}

/*	item_list
-----------------------------------------------*/
.item_list:after{
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
.item_list{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}

.item_list article{
	width:150px;
	float:left;
	margin:0 15px 0 0;
	position:relative;
}
.items .item_list article{
	margin:0 35px 0 0;
}
.item_list article h1{
	background:none;
	padding-left:0;
	margin-bottom:0;
	border:none;
}
.item_list article a h1{
	color:#333;
}
#recommended_items .item_list article:nth-child(3n),
#new_items .item_list article:nth-child(3n),
.items .item_list article:nth-child(4n){
	margin-right:0;
}

.item_list article p.price{
	text-align:center;
	margin-bottom:5px;
	padding:2px 0;
	margin:5px 0;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
}
.item_list article p.text{
	margin-bottom:5px;
}
.item_list article p.new{
	position:absolute;
	top:80px;
	right:0;
}
.item_list article p.more{
	text-align:right;
	margin-bottom:10px;
}
.item_list article p.more a{
	font-size:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	background-color:#666;
	padding:3px;
	text-decoration:none;
	font-weight:bold;
}
.item_list article p.more a:hover{
	background-color:#999;
}


/*	catergory_top
-----------------------------------------------*/
section#catergory_top{
	margin-bottom:40px;
}
section#catergory_top h1{
	background:#f4f3f4 url(../images/news_title_bg.png) repeat-x 0 0;
	border:1px solid #ccc;
	padding:8px 0 8px 15px;
	color:#636363;
	letter-spacing:0.2em;
	font-size:16px;
}

/*	item_detail
-----------------------------------------------*/
section#item_detail{
	margin-bottom:30px;
}
section#item_detail h1{
	background:#f4f3f4 url(../images/news_title_bg.png) repeat-x 0 0;
	border:1px solid #ccc;
	padding:8px 0 8px 15px;
	color:#333;
	letter-spacing:0.2em;
	font-size:18px;
}
section#item_detail h2{
	font-size:16px;
	margin-bottom:10px;
	border-bottom:2px solid #333;
}
section#item_detail p{
	margin-bottom:20px;
}
section#item_detail p.photo_left{
	float:left;
	margin-right:10px; 
}
section#item_detail p.photo_right{
	float:right;
	margin-left:10px; 
}
section#item_detail h2,
section#item_detail br.clear{
	clear:both;
}
section#item_detail div.item_cart_text table{
	width:300px;
	margin:10px 0;
}
section#item_detail div.item_cart_text table th,
section#item_detail div.item_cart_text table td{
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:5px 10px;
	vertical-align:middle;
}
section#item_detail div.item_cart_text table td.price{
	color:#C00;
}
section#item_detail div.item_cart_text table td.price del{
	color:#666;
	margin-right:3px;
}
section#item_detail div.item_cart_text table td.price span{
	font-size:28px;
	margin-right:5px;
}

section#item_detail div.item_cart_text table.outline th{
	background-color:#eeeeee;
	box-shadow:inset 1px 1px 0 #fff;
	-moz-box-shadow:inset 1px 1px 0 #fff;
	-webkit-box-shadow:inset 1px 1px 0 #fff;
}
section#item_detail div.item_cart_text table.outline th,
section#item_detail div.item_cart_text table.outline td{
	border:1px solid #ccc;
	padding:4px 8px;
}

section#item_detail p.cart{
	margin-top:15px;
	text-align:right;
}
section#item_detail p.cart_que{
	margin:5px 0 20px;
	text-align:right;
}
section#item_detail p.cart_que a{
	background:url(../images/icon_mail.png) no-repeat 0 3px;
	padding-left:20px;
}
section#item_detail p.cart_fav{
	margin:5px 0 20px;
	text-align:right;
}
section#item_detail p.cart_fav a{
	padding-left:20px;
}
section#item_detail p.cart_stock{
	margin:5px 0 20px;
	text-align:right;
}
section#item_detail p.cart_stock a{
	padding-left:20px;
}
section#item_detail ul#check_sns{
	clear:both;
	margin-bottom:40px;
	border-top:1px dotted #999;
	width:100%;
	padding-top:10px;
}
section#item_detail ul#check_sns li{
	float:left;
	margin-right:10px;
	text-align:right;
}

section#item_detail .item_cart{
	width:720px;
	padding-top:20px;
	border-top:1px dotted #999;
}
section#item_detail .item_cart p{
	margin-bottom:0;
}
.item_cart_text{
	width:300px;
	float:right;
}
.item_cart_photo{
	width:400px;
	float:left;
}


/*	.items
-----------------------------------------------*/

.items .item_list{
	padding-left:8px;
}
/*	.pager
-----------------------------------------------*/

/*_____ list_pager _____*/

.list_pager{
	width:100%;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:10px 10px;
	margin-bottom:10px;
}
.list_pager p{
	float:left;
}
.list_pager ul{
	float:right;
}
.list_pager ul li{
	float:left;
	border-right:1px solid #666;
	padding:0 6px;
}
.list_pager ul li:last-child{
	border-right:none;
}


/*_____ item_pager _____*/

.item_pager{
	width:100%;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:10px 10px;
	margin-bottom:10px;
	text-align:center;
	background-color:#e5e5e5;
}
.item_pager ul li.prev{
	float:left;
}
.item_pager ul li.next{
	float:right;
}


/*	review_detail
-----------------------------------------------*/
section#review_detail{
	margin-bottom:30px;
}
section#review_detail article{
	border-bottom:1px dotted #999;
	padding:0 10px 10px;
	margin:0 10px 10px;
}

section#review_detail header{
	width:auto;
	height:auto;
	margin:0;
	vertical-align:bottom;
}
section#review_detail header div,
section#review_detail header h2,
section#review_detail header p{
	float:left;
	vertical-align:bottom;
}

section#review_detail div.star{
	font-size:14px;
	margin-right:10px;
	color:#146685;
}
section#review_detail header h2{
	font-size:14px;
	margin-right:10px;
}
section#review_detail header p.date{
	color:#999;
	margin-right:10px;
}
section#review_detail p.target{
	font-weight:bold;
	margin-bottom:10px;
}
section#review_detail p.target span{
	color:#F60;
}



/*	review_write
-----------------------------------------------*/
section#review_write table{
	margin:10px 20px 0;
	width:680px;
}
section#review_write table th{
	vertical-align:middle;
}
section#review_write table th,
section#review_write table td{
	padding:5px;
}
section#review_write table td.btn{
	vertical-align:middle;
	text-align:right;
}
section#review_write table textarea{
	width:450px;
	height:100px;
}



/*	free_area
-----------------------------------------------*/
section#free_area table{
	margin:10px 20px 0;
	width:680px;
	border:1px solid #AAAAAA;
}
section#free_area table th{
	vertical-align:middle;
	text-align:center;
	background-color:#eeeeee;
}
section#free_area table th,
section#free_area table td{
	padding:5px 10px;
	border:1px solid #aaaaaa;
}
section#free_area table td.btn{
	vertical-align:middle;
	text-align:right;
}

/*======================================================
	footer
======================================================*/
footer aside{
	width:960px;
	margin:0 auto;
	text-align:left;
}
footer aside:after{
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
footer aside{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}
footer aside h1{
	color:#333;
	border-bottom:3px double #999;
	border-top:none;
	border-left:none;
	border-right:none;
	margin-bottom:8px;
	font-size:14px;
	background:none;
	padding-left:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
footer aside dl dt{
	border-left:5px solid #999;
	padding-left:5px;
	margin-bottom:3px;
}
footer aside dl dd{
	margin-bottom:5px;
}

footer aside .footer_column{
	width:285px;
	float:left;
	margin-right:50px;
}
footer aside .footer_column:nth-child(3){
	margin-right:0;
}

footer #footer_navi{
	width:100%;
	border-top:1px dotted #a0a0a0;
	border-bottom:1px dotted #a0a0a0;
	background-color:#FFF;
	padding:8px 0;
	margin-bottom:5px;
}
footer #footer_navi ul:after{
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
footer #footer_navi ul{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}

footer #footer_navi ul li{
	float:left;
	margin-right:20px;
	text-align:center;
}