@charset "UTF-8";
/* CSS Document */

table.cart_detail_table th{
	text-align:center;
}
table.cart_detail_table td.star{
	color:#146685;
}
textarea.review_area{
	width:400px;
	height:100px;
}

a.table_btn{
	background-color:#666;
	border-radius:10px;
	color:#fff;
	padding:5px 8px;
	margin-right:5px;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 0 2px #333;
	-webkit-transition:background-color 0.3s ease;
	-moz-transition:background-color 0.3s ease;
	-o-transition:background-color 0.3s ease;
	transition:background-color 0.3s ease;
}
a.table_btn:hover{
	background-color:#888;
}


a.delete{
	background:url(../images/icon_delete.png) no-repeat 0 3px;
	padding-left:15px;
	margin-left:10px;
}
a.detail{
	background-image:url(../images/mypage/icon_arrow.png);
	background-repeat: no-repeat;
	background-position:5px 8px;
	padding-left:18px;
}
a.edit{
	background-image:url(../images/mypage/icon_edit.png);
	background-repeat: no-repeat;
	background-position:7px 5px;
	padding-left:20px;
}
a.plus{
	background-image:url(../images/mypage/icon_plus.png);
	background-repeat: no-repeat;
	background-position:7px 6px;
	padding-left:20px;
}

/*ダウンロードページ*/
a.table_btn.download{
	background-color:#F90;
	text-shadow:0 0 2px #F60;
}
a.table_btn.download:hover{
	background-color:#FC0;
}

/*======================================================
	通知
======================================================*/
div.notice{
	border:2px solid #FFD324;
	padding:10px 15px 10px 25px;
	font-weight:bold;
}
#main div.notice p{
	margin-bottom:0;
}
p.notice{
	border:1px solid #FFD324;
	padding:5px 0 5px 25px;
	font-weight:bold;
	margin-top:10px;
}