

/*====================================
	tag-reset
====================================*/
.cart_main h1,
.cart_main h2,
.cart_main h3,
.cart_main h4,
.cart_main h5,
.cart_main h6,
.cart_main p,
.cart_main ul,
.cart_main ol,
.cart_main li,
.cart_main dl,
.cart_main dt,
.cart_main dd,
.cart_main table,
.cart_main address,
.cart_main blockquote,
.cart_main form {
	margin:0;
	padding:0;
	font-size:100%;
	}

#main{
	width:800px !important;
	float:none !important;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

/*====================================
	common-tag
====================================*/

.cart_main{
	width:700px;
	/*border:1px solid #cccccc;*/
	margin:0 auto 20px auto;
	color:#666666;
	font-size:85%;
	text-align:left;
	line-height:1.2;
	}

.cart_main h2{
	background:url(h2_bg.jpg) no-repeat 0 0;
	padding:10px 0 15px 15px;
	margin-bottom:10px;
	color:#666666;
	font-size:120%;
	}

.cart_main p{
	margin:0 10px 30px 10px;
	}

.cart_main img{
	border:0;
	}

.cart_main ul{
	list-style:none;
	}

.cart_main .alC{
	text-align:center;
	}

.cart_main .alR{
	text-align:right;
	}


/*_______form_table_________*/

.cart_main table.form_table{
	border:0;
	width:90%;
	text-align:left;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}

.cart_main table.form_table th,
.cart_main table.form_table td{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
	}


.cart_main table.form_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	}
.cart_main table.form_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}

.cart_main table.form_table tfoot th{
	text-align:right;
	font-weight:bold;
	}


/*_______detail_table_________*/

.cart_main table.detail_table{
	border:0;
	width:90%;
	text-align:left;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}

.cart_main table.detail_table th,
.cart_main table.detail_table td{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
	}


.cart_main table.detail_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	text-align:center;
	}
.cart_main table.detail_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}

.cart_main table.detail_table tfoot th{
	text-align:right;
	font-weight:bold;
	}
.cart_main table.detail_table th.detail{
	width:25%;
}
.cart_main table.detail_table th.center,
.cart_main table.detail_table td.center{
	text-align:center;
}
.cart_main table.detail_table th.right,
.cart_main table.detail_table td.right{
	text-align:right;
}
.cart_main table.detail_table th.long{
	width:30%;
}
.cart_main table.detail_table th.middle{
	width:20%;
}
.cart_main table.detail_table th.short{
	width:15%;
}
/*_______flow_________*/

.cart_main ul.shopping_flow li{
	float:left;
	}
.cart_main ul.shopping_flow{
	margin-bottom:20px;
	}


/*_______require_________*/
.cart_main .require_message{
	color:#FF6600;
	padding-right:3px;
	}

/*__________login____________*/


.cart_main input.login{
	width:90%;
	margin:9px 0 9px 0;
	vertical-align:top;
}

/*_______error_________*/

.cart_main p.error{
	color:#FF6600;
	background:url(icon_error.jpg) no-repeat 0 0;
	margin:3px 0;
	padding-left:20px;
	}

/*_______error_box_________*/

.cart_main div.error_box{
	border:2px solid #FF9900;
	padding:20px;
	margin:0 20px 20px 20px;
	}

.cart_main div.error_box ul li{
	color:#FF6600;
	background:url(icon_error.jpg) no-repeat 0 0;
	margin:3px 0;
	padding-left:20px;
	}


/*====================================
	clearfix
====================================*/

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}

.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}

.clearfix { display: block;/* for Mac IE */
	}
	
	
/**
 * マイページ用のCSS
 */

/*====================================
	tag-reset
====================================*/
.mypage_main h1,
.mypage_main h2,
.mypage_main h3,
.mypage_main h4,
.mypage_main h5,
.mypage_main h6,
.mypage_main p,
.mypage_main ul,
.mypage_main ol,
.mypage_main li,
.mypage_main dl,
.mypage_main dt,
.mypage_main dd,
.mypage_main table,
.mypage_main address,
.mypage_main blockquote,
.mypage_main form {
	margin:0;
	padding:0;
	font-size:100%;
	}
/**
#main{
	width:800px !important;
	float:none !important;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
**/
/*====================================
	common-tag
====================================*/

.mypage_main{
	width:570px;
	/*border:1px solid #cccccc;*/
	/**margin:0 auto 20px auto;**/
	color:#666666;
	font-size:85%;
	text-align:left;
	line-height:1.2;
	}

.mypage_main h2{
	background:url(h2_bg.jpg) no-repeat 0 0;
	padding:10px 0 15px 15px;
	margin-bottom:10px;
	color:#666666;
	font-size:120%;
	}

.mypage_main p{
	margin:0 10px 30px 10px;
	}

.mypage_main img{
	border:0;
	}

.mypage_main ul{
	list-style:none;
	}

.mypage_main .alC{
	text-align:center;
	}

.mypage_main .alR{
	text-align:right;
	}


/*_______form_table_________*/

.mypage_main table.form_table{
	border:0;
	width:90%;
	text-align:left;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}

.mypage_main table.form_table th,
.mypage_main table.form_table td{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
	}


.mypage_main table.form_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	}
.mypage_main table.form_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}

.mypage_main table.form_table tfoot th{
	text-align:right;
	font-weight:bold;
	}


/*__________login____________*/


.mypage_main input.login{
	width:90%;
	margin:9px 0 9px 0;
	vertical-align:top;
}
	
/*_______order_table_________*/

.mypage_main table.order_table{
	border:0;
	width:90%;
	text-align:left;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}

.mypage_main table.order_table th,
.mypage_main table.order_table td{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
	}


.mypage_main table.order_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	}
.mypage_main table.order_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}

.mypage_main table.order_table tfoot th{
	text-align:right;
	font-weight:bold;
	}
.mypage_main table.order_table th.detail{
	width:15%;
}

/*_______detail_table_________*/

.mypage_main table.detail_table{
	border:0;
	width:90%;
	text-align:left;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}

.mypage_main table.detail_table th,
.mypage_main table.detail_table td{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 10px;
	}


.mypage_main table.detail_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	text-align:center;
	}
.mypage_main table.detail_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}

.mypage_main table.detail_table tfoot th{
	text-align:right;
	font-weight:bold;
	}
.mypage_main table.detail_table th.detail{
	width:25%;
}
.mypage_main table.detail_table th.center,
.mypage_main table.detail_table td.center{
	text-align:center;
}
.mypage_main table.detail_table th.right,
.mypage_main table.detail_table td.right{
	text-align:right;
}
.mypage_main table.detail_table th.long{
	width:30%;
}
.mypage_main table.detail_table th.middle{
	width:20%;
}
.mypage_main table.detail_table th.short{
	width:15%;
}


/*_______flow_________*/

.mypage_main ul.shopping_flow li{
	float:left;
	}
.mypage_main ul.shopping_flow{
	margin-bottom:20px;
	}


/*_______require_________*/
.mypage_main .require_message{
	color:#FF6600;
	padding-right:3px;
	}

/*_______error_________*/

.mypage_main p.error{
	color:#FF6600;
	background:url(icon_error.jpg) no-repeat 0 0;
	margin:3px 0;
	padding-left:20px;
	}

/*_______error_box_________*/

.mypage_main div.error_box{
	border:2px solid #FF9900;
	padding:20px;
	margin:0 20px 20px 20px;
	}

.mypage_main div.error_box ul li{
	color:#FF6600;
	background:url(icon_error.jpg) no-repeat 0 0;
	margin:3px 0;
	padding-left:20px;
	}

	
/*====================================
	from admin
====================================*/

.mypage_main a.button{
	background:url(btn_bg.jpg) repeat-x;
	border:1px solid #999999;
	padding:1px 5px;
	margin-right:4px;
	color:#666666;
	text-decoration:none;
	display:inline-block;
	line-height:17px;

	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-opera-border-radius:5px;
	}
.mypage_main a.button:hover{
	background:url(btn_bg_on.jpg) repeat-x;
	color:#FFFFFF;
	}