@charset "UTF-8";

/* for iframe */
@import "./layer/layer.css";
/* for iframe end */

/* -- main layout -- */

* {
	margin:0;
	padding:0;
}

body {
	background-image:url("./img/main/background.jpg");
	background-repeat:repeat-x;
	height:100%;
	font-family:
		'ＭＳ Ｐゴシック',
		sans-serif;
}

select option{
	margin-right:10px;
}

#wrapper {
	width:82%;
	min-width:800px;
	height:100%;
	margin:0 auto;
	text-align:left;
	position:relative;

}

/*　ヘルプメッセージを表示するポップアップ */
.help_popup {
	position:absolute;
	background-color:rgba(255,255,255,0.8);
	border:2px rgba(0,127,0,0.8) solid;
	border-radius: 6px;
	z-index:400;
	padding: 2px;
	text-align:left;
}

.help_icon {
	width:12px;
	height:12px;
	padding:0;
	margin:0;
	display:inline;
}

/* --- for IE min-width ---*/
* html .minwidth {
	border-left: 800px solid white;
}
* html .container {
	margin-left: -800px;
	position: relative;
	background-image:url("./img/main/background.jpg");
	background-repeat:repeat-x;
}
/*\*/
* html .minwidth,
* html .container,
* html .content {
	height: 1px;
}

/*/
#wrapper {
	display: inline-block;
}
/**/

/* -- main layout end -- */


/* -- basic style -- */
p {
	font-size:0.9em;
}

p.notify {
	border:3px solid red;
	padding:10px 10px;
	margin:10px 0;
	padding-left:30px;
	color:red;
	background-image:url("./img/main/error.png");
	background-repeat:no-repeat;
	background-position:10px 10px;
}

p.message {
	border:1px solid #89BE38;
	padding:10px 10px;
	margin:10px 0;
	padding-left:30px;
	color:blue;
	background-repeat:no-repeat;
}

h3 {
	padding-top:15px;
	margin-bottom:10px;
	border-bottom:1px solid #c7c7c7;
	font-size:1.32em;
}

a {
	color:#CB6703;
}

.submit_button {
	width:100px;
	height:50px;
	font-size:16px;
}

.button a {
	text-decoration:none;
}

td a{
	text-decoration:none;
}

.pager {
	width:150px;
	float:left;
	margin:18px 0;
	margin-left:15px;
}

.pager p{
	float:left;
	padding-right:12px;
}

.pager a{
	color:#CB6703;
}

/* -- basic style end -- */


/* -- upper menu style -- */

#header {
	width:100%;
	margin:0 auto;
	margin-top:5px;
}

#header_sitenames {
	float:left;
}

#header_sitenames h1{
	font-family:Arial;
	font-size:2.8em;
	margin-left:5px;
	margin-top:5px;
}

#header_sitenames p {
	margin-top:-10px;
	margin-left:5px;
	margin-bottom:5px;
	font-size:0.95em;
	
}

#header img{
	float:right;
}

#popup {
	position:absolute;
	right:0;
	top:0;
}

#popup_left {
	background-image:url("./popup_images/popup_left.jpg");
	background-repeat:no-repeat;
	width:25px;
	height:73px;
	float:left;
}

#popup_content {
	background-image:url("./popup_images/popup_middle.jpg");
	background-repeat:repeat-x;
	height:73px;
	width:600px;
	overflow:hidden;
	line-height:73px;
	float:left;
}

#popup_right {
	background-image:url("./popup_images/popup_right.jpg");
	background-repeat:no-repeat;
	width:118px;
	height:73px;
	float:left;
}

#administrator {
	float:right;
	font-size:0.9em;
	color:#666666;
	margin-right:10px;
	display:block;
	text-align:right;
	height:50px;
	margin-top:5px;
}

#adminname {
	font-weight:bold;
	font-size:2em;
}

.functions {
	background-color:#E4EDD1;
	padding:12px 12px;
	height:1.5em;
	margin-bottom:12px;
}

.functions p {
	display:inline;
	margin-right:15px;
	line-height:1.5em;
}

/* -- upper menu style end -- */

#menu {
	width:100%;
}

/* -- tab layout -- */
#tab {
	width:100%;
	position:relative;
	left:0;
	clear:both;
}

#tab a {
	color:black;
	text-decoration:none;
}

#tab .menu_active {
	width:128px;
	height:57px;
	float:left;
	line-height:57px;
	margin-right:3px;
	background-image:url("./img/main/menu_active.jpg");
	background-repeat:no-repeat;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}

#tab .menu_inactive {
	width:128px;
	height:45px;
	float:left;
	margin-top:12px;
	margin-right:3px;
	background-image:url("./img/main/menu_inactive.jpg");
	background-repeat:no-repeat;
	line-height:45px;
	font-weight:bold;
	text-align:center;
	display:inline;
	cursor:pointer;
}

#tab .menu_inactive_hover{
	width:128px;
	height:45px;
	float:left;
	margin-top:12px;
	margin-right:3px;
	background-image:url("./img/main/menu_inactive.jpg");
	background-repeat:no-repeat;
	line-height:45px;
	font-weight:bold;
	text-align:center;
	display:inline;
	margin-top:0;
	line-height:57px;
	height:57px;
	background-image:url("./img/main/menu_inactive_hover.jpg");
	cursor:pointer;
}

#tab .menu_inactive_active {
	width:128px;
	height:45px;
	float:left;
	margin-top:12px;
	margin-right:3px;
	background-image:url("./img/main/menu_inactive.jpg");
	background-repeat:no-repeat;
	line-height:45px;
	font-weight:bold;
	text-align:center;
	display:inline;
	margin-top:0;
	line-height:57px;
	height:57px;
	background-image:url("./img/main/menu_active.jpg");
	cursor:pointer;
}

/* -- tab layout end -- */

/* --- toolbox layout--- */

#toolbox{
	position:absolute;
	right:0;
	
	margin-top:20px;
	margin-right:15px;
	_margin:0;
	_margin-right:7px;
}

#toolbox_in_blog{
	position:absolute;
	right:0;
	
	margin-right:10px;
	_margin:0;
	_margin-right:7px;
}

#toolbox_in_blog_template{
	position:absolute;
	right:0;
	
	margin-right:10px;
	_margin:0;
	_margin-right:7px;
}

/* -- toolbox layout end -- */

/* --- content bar style--- */
#content_bar_top {
	width:100%;
	height:7px;
	background-image:url("./img/main/content_top_bg.jpg");
	background-repeat:repeat-x;
	clear:both;
}

#content_bar_top_left {
	width:6px;
	height:7px;
	float:left;
	background-image:url("./img/main/content_bar_left_top.jpg");
	background-repeat:no-repeat;
	background-color:white;
	margin-left:-5px;
}


#content_bar_top_right {
	width:6px;
	height:7px;
	float:right;
	background-image:url("./img/main/content_bar_right_top.jpg");
	background-repeat:no-repeat;
}

#content {
	width:96%;

	background-image:url("./img/main/content_bar_left.jpg");
	background-repeat:repeat-y;
	background-color:white;
	margin-left:-5px;
	padding:0 15px;
	padding-bottom:15px;
}

#content_bar_right {
	width:100%;
	background-image:url("./img/main/content_bar_right.jpg");
	background-repeat:repeat-y;
	background-position:top right;
}


#content_bar_bottom {
	width:100%;
	height:5px;
	background-image:url("./img/main/content_bar_bottom.jpg");
	background-repeat:repeat-x;
}

#content_bar_bottom_left {
	width:6px;
	height:5px;
	float:left;
	background-image:url("./img/main/content_bar_bottom_left.jpg");
	background-repeat:no-repeat;
	margin-left:-6px;
}


#content_bar_bottom_right {
	width:6px;
	height:5px;
	background-image:url("./img/main/content_bar_bottom_right.jpg");
	background-repeat:no-repeat;
	float:right;
}

/* --- content bar style end --- */



/* --- footer style --- */
#footer{
	width:100%;
	height:43px;
	margin-top:11px;
	background-image:url("./img/main/footer_middle.gif");
	background-repeat:repeat-x;
	text-align:center;
}

#footer_left {
	width:6px;
	height:43px;
	background-image:url("./img/main/footer_left.gif");
	background-repeat:no-repeat;
	float:left;
}

#copyright {
	color:white;
	height:43px;
	line-height:43px;
}

#footer_right {
	width:6px;
	height:43px;
	background-image:url("./img/main/footer_right.gif");
	background-repeat:no-repeat;
	float:right;
}

/* --- footer style end --- */


/* --- content style --- */

.functions > * {
	float:left;
	font-weight:bold;
	color:#CB6703;
}

.mode{
	padding-left:20px;
	text-decoration:underline;
}

.blogMenu {
	width:70%;
	padding-top:15px;
	padding-left:5px;
	padding-right:10px;	
	border-bottom:1px solid #c7c7c7;
}

.blogMenu > *{
	/* margin-left:10px; */
	padding:5px 5px;
	font-size:0.8em;
}

.blogMenu .active{
	text-decoration : none;
	font-size:1.32em;
	color:black;
	font-weight:800;
}

/* --- content style end --- */

/* validation */
.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

/* validation end */

/* siteconfig style */
#siteconfig_form {
	margin-top:12px;
}

.siteconfig_text {
	width:400px;
	font-size:1.4em;
}

#siteconfig_form textarea {
	width:400px;
	height:200px;
}
/* siteconfig style end */
