@charset "UTF-8";

/* for iframe */
@import "./layer/layer.css";
/* for iframe end */

/* -- main layout -- */
/*
* {
	margin:0;
	padding:0;
}*/

body {
	background-image:url("./img/main/background.jpg");
	background-repeat:repeat-x;
	/*height:100%;*/
	font-family:
		'Hiragino Kaku Gothic Pro',
		'ヒラギノ角ゴ Pro W3',
		'Osaka',
		'ＭＳ Ｐゴシック',
		sans-serif;
	
	font-size:90%;
}

p img{
	float:none;
}

.container {
	text-align: left;
	position:relative;
}

select option{
	margin-right:10px;
}

input[type="text"]{margin:0.5em 0;border:1px solid #aaa;padding:1px 2px;}
input[type="text"]:focus {border:1px solid #666;}

/* -- main layout end -- */


/* -- basic style -- */
p.notify {
	border:3px solid red;
	padding:10px 10px;
	margin:10px 0;
	padding-left:30px;
	color:red;
	background-image:url("./img/main/error.png");
	background-repeat:no-repeat;
	background-position:10px 10px;
}

h3 {
	padding-top:15px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #c7c7c7;
	font-size:1.32em;
}

h4 {
	border-bottom-style: none;
	border-left: 8px solid #c7c7c7;
	height:20px;
	margin-bottom:7px;
	margin-top:7px;
	padding:7px;
}

* html legend{
	margin-bottom:0 !important;
}

a {
	color:#CB6703;
}

.submit_button {
	width:100px;
	height:50px;
	font-size:16px;
}

ul.inline  li {
	display:inline;
	margin-right: 10px;
}

.button a {
	text-decoration:none;
}

td a{
	text-decoration:none;
}

.pager {
	width:150px;
	float:left;
	margin-left:15px;
}

.pager p{
	float:left;
	padding-right:12px;
	margin-bottom:0;
}

.pager a{
	color:#CB6703;
}

* html .inline *{
	display:inline;
	vertical-align:middle;
}
/* -- basic style end -- */


/* -- upper menu style -- */
#logo_small {
	margin-bottom:0;
}

#header{
	height:90px;
	font-size:15px;
}

#header img, #header h2, #header ul {
	float:right;
}

#header h1{
	margin-bottom:0;
}

#userInfo h2 {
	/* margin-bottom:.5em; */
	margin-bottom:0em;
	font-size:30px;
}

#userInfo ul {
	margin:0;
	padding:0;
}

#userInfo li {
	display:inline;
	margin:0;
	margin-left: 10px;
	font-size:15px;
}

#popup {
	position:absolute;
	right:0;
	top:0;
}

#popup_left {
	background-image:url("./popup_images/popup_left.jpg");
	background-repeat:no-repeat;
	width:25px;
	height:73px;
	float:left;
	opacity: 0.95;
}

#popup_content {
	background-image:url("./popup_images/popup_middle.jpg");
	background-repeat:repeat-x;
	height:73px;
	width:600px;
	overflow:hidden;
	line-height:67px;
	float:left;
	opacity: 0.95;
}

#popup_right {
	background-image:url("./popup_images/popup_right.jpg");
	background-repeat:no-repeat;
	width:118px;
	height:73px;
	float:left;
	opacity: 0.95;
}

#header_sitename h1,#header_sitename p{
	margin-left:4px;
}

/* -- upper menu style end -- */

/* -- tab layout -- */
#top {
	margin-bottom:0;
}

#menu {
	border: 1px solid transparent;
	border-bottom-color: lightgrey;
}

#tab a {
	color:black;
	text-decoration:none;
}

#tab .menu_active, #tab .menu_inactive_hover {
	background-image: url("./img/main/active_tab.jpg");
	background-repeat: no-repeat;
	width: 110px;
	height: 44px;
	cursor: pointer;
	text-align:center;
	margin-bottom: -1px;
}

#tab .menu_active p,
#tab .menu_inactive_hover p {
	border-bottom: 1px solid rgb(244,232,172);
}

#tab .menu_inactive {
	background-image: url("./img/main/tab.jpg");
	background-repeat: no-repeat;
	width: 110px;
	height: 44px;
	cursor: pointer;
	text-align:center;
}

#tab p{
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	line-height: 46px;
	margin-bottom:0;
}

/* -- tab layout end -- */

/* --- toolbox layout--- */
#toolbox{
	position:absolute;
	top:150px;
	z-index:300;
	
	width:300px;
	right:0;
}

#toolbox .widget{
	padding-left:24px;
	border-left:solid 1px #eee;
	
	float:right;
	
	width:260px;
}

#toolbox_in_blog{
	position:absolute;
	right:0;
	
	margin-right:10px;
	_margin:0;
	_margin-right:7px;
}

#toolbox_in_blog_template{
	position:absolute;
	right:0;
	
	margin-right:10px;
	_margin:0;
	_margin-right:7px;
}

/* -- toolbox layout end -- */

/* -- content layout -- */
#content {
	border: 1px solid lightgrey;
	border-top-style: none;
	background-color:white;
	margin-bottom:1.5em;
}

#content h2 {
	background-image: url("./img/main/h1_bg.jpg");
	background-repeat:repeat-x;
	background-position:bottom;
	
	margin-top:0.3em;
	margin-bottom:10px;
	margin-left: 40px;
}

#content h2 a{
	text-decoration:none;
}

/* -- content layout end -- */

/* --- footer style --- */
#footer{
	height:43px;
	line-height:43px;
	background-image:url("./img/main/footer_bg.jpg");
	background-repeat:repeat-x;
	text-align:center;
}

#footer p {
	/*margin: 1em 0;*/
	color:#333;
}

#subFunctions {
/*	background-image: url("./img/main/subfunc_bg.jpg");*/
/*	background-repeat: repeat-x repeat-y;*/
	background-color: #E4EDD1;
	text-align: center;
	margin-top:18px;
}

#subFunctions ul {
	padding-top: 1.5em;
}
/* --- footer style end --- */


/* --- content style --- */
.functions{
	padding-bottom:13px;	
}

.functions > * {
	float:left;
	font-weight:bold;
	color:#CB6703;
	display:inline;
}

.functions a{
	margin-right:12px;
}

.functions img{
	margin:5px 12px 5px -12px;
}

.mode{
	padding-left:20px;
	text-decoration:underline;
}
/*
.blogMenu {
	width:70%;
	padding-top:15px;
	padding-left:5px;
	padding-right:10px;	
	border-bottom:1px solid #c7c7c7;
}

.blogMenu > *{
	margin-left:10px;
	padding:10px 10px;
	font-size:0.8em;
}

.blogMenu h1{
	font-size:1.34em;
	margin-bottom:15px;
	padding:0;
}*/

.blogMenu .active{
	text-decoration : none;
	font-size:1.32em;
	color:black;
	font-weight:800;
}

/* エントリーやラベルが空のときに表示するHTMLのクラス  */
.blank {
	margin:10px;
	padding:10px;
	border:1px solid #FDC288;
	text-align:center;
}

/*　ヘルプメッセージを表示するポップアップ */
.help_popup {
	position:absolute;
	background-color:rgba(255,255,255,0.8);
	border:2px rgba(0,127,0,0.8) solid;
	border-radius: 6px;
	z-index:400;
	padding: 4px;
	text-align:left;
}

.help_icon {
	width:12px;
	height:12px;
	padding:0;
	margin:0 -12px 0 5px;
	display:inline;
}
/* --- content style end --- */

/* login menu */
#login_wrapper_for_IE {
	/*for IE*/
	text-align:center;
}

#login_wrapper {
	margin:0 auto;
	text-align:left;
	padding:0;
	width:370px;
	margin-top:100px;
}

#logo {
	width:221px;
	height:111px;
	background-image:url("./img/logo_big.gif");
	background-repeat:no-repeat;
}

#login_main {
	background-image:url("./img/login.gif");
	background-repeat:no-repeat;
	width:370px;
	height:275px;
}

.user , .password{
	font-size:12px;
	color:#666666;
	margin:0 20px;
	padding-top:20px;
} 

.user p, .password p {
	margin:5px 5px;
}
	
.user input, .password input {
	font-size:30px;
	color:#666666;
	width:320px;
	height:50px;
}

.login {
	width:100px;
	height:50px;
	font-size:16px;
	float:right;
	margin-top:20px;
	margin-right:20px;
}

/* login menu end*/

/* validation */
.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

/* validation end */

/* siteconfig style */
#siteconfig_form {
	margin-top:12px;
}

.siteconfig_text {
	width:400px;
	font-size:1.4em;
}

#siteconfig_form textarea {
	width:400px;
	height:200px;
}
/* siteconfig style end */

/* comment/trackback style */

.comment_menu{
	border: 1px solid #c7c7c7;
	padding: 10px;
	margin: 15px 0;
}

.comment_content{
	margin-left:30px;
	margin-right:30px;
	padding:10px;
	border: 1px solid black;
}

/* comment/trackback style end*/

/* for blueprint hack */
.soy-push-0 {
	margin-left:0px;
	padding-left:0;
}

.soy-push-1 {
	margin-left:40px;
	_display: inline;
}

.soy-push-1 table{
	margin-left:0 !important;
}

div.row *{
	margin-top:0;margin-bottom:0;
}

.loading{
	background-image:url(./filemanager/loading.gif);
	background-repeat:no-repeat;
	width:16px;
	line-height:16px;
	margin-left:5px;
}