#Eclipseのプロジェクトファイル
.project

#root直下のディレクトリとindex.php、.htaccessを無視
/
/index.php
/.htaccess

shop/*
site/*

#cmsをホワイトリストに登録
!/cms/
!.gitkeep

#database
*.db

#appから生成されたディレクトリ
GalleryImage/*
sample/*

#サイトの設定関連
user.config.php
mysql.php
cms/soyshop/webapp/conf/shop/*.conf.php
shop_id.php