@charset "UTF-8";
/* CSS Document */

/*======================================================
	Common
======================================================*/

/*== 狭い幅 ==*/
#main p{
	margin-bottom:15px;
}
.soycart_narrow{
	margin:30px 40px 20px;
}
span.note{
	color:#F60;
}
span.exmpl{
	color:#999;
}
span.require{
	color:#f00;
	font-weight:normal;
	font-size:10px;
}
.btn{
	text-align:center;
	margin:30px 0 50px;
	padding:15px 0;
	background-color:#f5f5f5;
}
.btn img{
	vertical-align:middle;
}
.another_btn{
	border-top:1px dotted #ccc;
	padding-top:20px;
	text-align:center;
	margin:10px 0;
}

h1.cart_txt{
	font-size:16px;
	margin-bottom:20px;
	padding:8px 10px;
	background:none;
	border:1px solid #999;
	color:#333;
}

/*======================================================
	カートを見る
======================================================*/

/* --- フロー図 --- */
ul.flow li{
	background: rgb(217,230,236);
	background: -moz-linear-gradient(top,  rgba(217,230,236,1) 0%, rgba(172,202,215,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,230,236,1)), color-stop(100%,rgba(172,202,215,1)));
	background: -webkit-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e6ec', endColorstr='#accad7',GradientType=0 );
	border-radius: 3px;
	width: 23%;
	text-shadow: -1px -1px 1px rgba(255,255,255,0.8);
	font-size: 0.7em;
	padding: 0.8em 0.5% 0.3em;
	margin: 0 0.5%;
	text-align: center;
	display: inline-block;
}
ul.flow li.active{
	background: rgb(132,171,189);
	background: -moz-linear-gradient(top,  rgba(132,171,189,1) 0%, rgba(47,115,143,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,171,189,1)), color-stop(100%,rgba(47,115,143,1)));
	background: -webkit-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: -o-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: -ms-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: linear-gradient(to bottom,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84abbd', endColorstr='#2f738f',GradientType=0 );	
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
}

/*	カートの詳細
-----------------------------------------------*/

div#main section#cart_detail{
	margin-bottom:50px;
}
div#main section#cart_detail table.cart_detail_table th{
	text-align:center;
}
table.cart_detail_table{
	margin:20px auto;
	width:100%;
}
table.cart_detail_table th,
table.cart_detail_table td{
	border:1px solid #aaaaaa;
	padding:5px 10px;
	vertical-align:middle;
}
table.cart_detail_table th{
	text-align:left;
	background-color:#eeeeee;
}

/*== 商品のサムネイル ==*/
table.cart_detail_table td img{
	float:left;
	margin-right:10px;
}

/*== 価格（税込） ==*/
table.cart_detail_table td.price{
	text-align:right;
	color:#C00;
}
table.cart_detail_table td.price span{
	font-size:16px;
	margin-right:5px;
}

/*== 小計 ==*/
table.cart_detail_table td.price.subsum{
	color:#333;
}

/*== 削除 ==*/
table.cart_detail_table td a.delete{
	background:url(../images/icon_delete.png) no-repeat 0 2px;
	padding-left:15px;
}

/*== 合計 ==*/
table.cart_detail_table tfoot,
table.cart_detail_table tfoot th{
	background-color:#ccc;
}

/*== 合計金額の再計算 ==*/
div#main section#cart_detail p.resum{
	text-align:center;
}
div#main section#cart_detail p.resum img{
	vertical-align:middle;
	margin-left:20px;
}

/*======================================================
	ご購入手続き
======================================================*/
#cart_procedure .cart_procedure_login{
	width:290px;
	float:left;
	margin-right:19px;
}
#cart_procedure .cart_procedure_first{
	width:300px;
	float:left;
}

#cart_procedure .cart_procedure_login_right{
	width:290px;
	float:right;
	margin-right:19px;
}
#cart_procedure .cart_procedure_first_right{
	width:290px;
	float:right;
}

#cart_procedure .cart_procedure_first_right{
	margin-right: 5px;
}
#cart_procedure .cart_procedure_login_right{
	float: left;
	margin-left: 5px;
}

#cart_procedure .cart_procedure_first_right h1,
#cart_procedure .cart_procedure_login_right h1{
	font-size: 1.2em;
	color: #6a4c25;
}

/*======================================================
	フォーム関係
======================================================*/
table.soycart_form{
	margin:20px auto;
	width:100%;
}
table.soycart_form.shop_login th,
table.soycart_form.shop_login td{
	padding:10px;
}
table.soycart_form th,
table.soycart_form td{
	padding:10px 15px;
	vertical-align:middle;
	border-bottom:1px dotted #ccc;
	box-shadow:inset 1px 1px 0 #fff;
	-moz-box-shadow:inset 1px 1px 0 #fff;
	-webkit-box-shadow:inset 1px 1px 0 #fff;
}
table.soycart_form th{
	background-color:#eeeeee;
	max-width:150px;
}
table.soycart_form table th,
table.soycart_form table td{
	padding:0;
	border-bottom:none;
}

/*======================================================
	ノート
======================================================*/

aside.note{
	border:1px solid #F60;
	padding:10px 15px 0;
	margin-bottom:20px;
	color:#F60;
	text-align:center;
}

/*======================================================
	エラー
======================================================*/
div.error{
	color:#f53030;
	background:url(../images/icon_error.png) no-repeat 15px 12px;
	border:2px solid #f53030;
	padding:10px 15px 10px 25px;
	font-weight:bold;
}
#main div.error p{
	margin-bottom:0;
}
p.error{
	color:#f53030;
	border:1px solid #f53030;
	background:url(../images/icon_error.png) no-repeat 15px 7px;
	padding:5px 0 5px 25px;
	font-weight:bold;
	margin-top:10px;
}

/*___ Override cart.css _____________________*/

div#main section{
	margin-bottom: 3em;
}
div#main section:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}

div#main section#cart_detail{
	background: none;
}

h1.cart_txt{
	background-color: #fff;
}




/* --- カートに入っている商品 --- */

#main .detail .cart_li{
	border-bottom: 1px solid #999;
	padding-bottom: 0.5em;
}
#main .detail .cart_li:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
#main .detail .cart_li.title{
	font-size: 0.8em;
}
#main .detail .cart_li ul{
	margin-bottom: 0.5em;
}
#main .detail .cart_li .cart_itemthumb,
#main .detail .cart_li .cart_itemtitle,
#main .detail .cart_li .cart_itemid,
#main .detail .cart_li .cart_itemprice,
#main .detail .cart_li .cart_itemnum,
#main .detail .cart_li .cart_itemsubsum,
#main .detail .cart_li .cart_itemdelete{
	float: left;
}
#main .detail .cart_li .cart_itemthumb{
	width: 80px;
	margin-right: 10px;
}
#main .detail .cart_li .cart_itemtitle{
	width: 150px;
	margin-right: 10px;
}
#main .detail .cart_li .cart_itemid{
	width: 80px;
}
#main .detail .cart_li .cart_itemprice{
	width: 80px;
}
#main .detail .cart_li .cart_itemnum{
	width: 85px;
}
#main .detail .cart_li .cart_itemsubsum{
	width: 65px;
	/*color: #c00;*/
	text-align: right;
}
#main .detail .cart_li.title .cart_itemsubsum{
	text-align: center;
}
#main .detail .cart_li .cart_itemdelete{
	width: 50px;
}


#main .detail .sumarea{
	background: #e5dcd1;
	background: rgba(154,139,120,0.15);
	font-weight: bold;
	padding: 0.5em 1em 0.5em 0.5em;
}

#main .detail .sumarea:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
}
#main .detail .sumarea .sumtitle{
	float: left;
}
#main .detail .sumarea .sumprice{
	float: right;
}

#main .detail .sumelse{
	padding: 0.5em 1em 0.3em 0.5em;
	border-bottom: 1px dotted #ccc;
	font-size: 0.9rem;
}
#main .detail .sumelse:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
}
#main .detail .sumelse .sumtitle{
	float: left;
}
#main .detail .sumelse .sumprice{
	float: right;
}




.btn{
	background: none;
	margin: 10px 0 25px;
}

/* --- 個人情報 --- */

#main .detail .cart_detail_dl{
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;
}
#main .detail .cart_detail_dl:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}
#main .detail .cart_detail_dl dt{
	clear:both;
	font-size: 0.9rem;
	float: left;
	width: 30%;
	margin: 0;
	border-top: 1px dotted #ccc;
	padding: 0.5em 1em 0;
	margin-top: 0.5em;
}
#main .detail .cart_detail_dl dd{
	float: left;
	width: 65%;
	margin: 0;
	border-top: 1px dotted #ccc;
	padding: 0.5em 0 0;
	margin-top: 0.5em;
	color: #666;
}
#main .detail .cart_detail_dl dd label{
	color: #333;
}
#main .detail .cart_detail_dl dd p{
	margin-bottom: 0.3em;
}
#main .detail .cart_detail_dl dd p.remarks{
	font-size: 0.9rem;	
}
#main .detail .cart_detail_dl dd p.price{
	color: #c00;
	text-align: right;
}
input.w50{
	width: 50px;
}