<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index,nofollow" />
<title>◆◆◆◆◆◆◆</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="@@SOYSHOP_URI@@/themes/shop.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="@@SOYSHOP_URI@@/themes/js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="@@SOYSHOP_URI@@/themes/js/wink.js" charset="utf-8"></script>
</head>
<body>
<div id="container">
	<div id="header">
		<div id="headnavi" class="clearfix">
			<!-- shop:module="html.header_navigation" -->
			<h1>おいしい野菜をみなさんにお届けします！</h1>
			<ul>
				<li><a href="@@SOYSHOP_URI@@/concept">会社概要</a></li>
				<li><a href="@@SOYSHOP_URI@@/question">よくあるご質問</a></li>
			</ul><!-- ナビゲーションが入ります -->
			<!-- /shop:module="html.header_navigation" -->
		</div><!--END #headnavi -->
		<div id="headbody" class="clearfix">
			<!-- shop:module="html.header" -->
			<h2><img src="@@SOYSHOP_URI@@/themes/shop/logo.jpg" alt="お豆商事種式会社" height="77" width="560" /><!-- /shop:module="html.logo" --></h2>
			<p><a href="@@SOYSHOP_URI@@/user"><img src="@@SOYSHOP_URI@@/themes/shop/look_cart.jpg" alt="カートの中を見る" class="wink" height="44" width="202" /></a></p>
			<!-- /shop:module="html.header" -->
		</div><!--END #headbody -->
		<div id="Gnavi">
			<!-- shop:module="html.global_navigation" -->
			<ul class="clearfix">
				<li><a href="@@SOYSHOP_URI@@/">トップページ</a></li>
				<li><a href="@@SOYSHOP_URI@@/shohin1/">商品一覧</a></li>
				<li><a href="@@SOYSHOP_URI@@/deliver">お支払・配送について</a></li>
			</ul><!-- ナビゲーションが入ります -->
			<!-- /shop:module="html.global_navigation" -->
		</div><!--END #Gnavi -->
	</div>
	<!--END #header -->
	<div id="inner" class="clearfix">
		<div id="side">
			<!-- shop:module="common.parts.mypage_login" -->
			<!-- cms:id="not_loggedin" -->
			<div id="login" class="sideBox">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_login_h3.jpg" alt="ログイン" width="200" height="37" /></h3>
					<form cms:id="login_form">
						<p>メールアドレス:<br /><input type="text" cms:id="mail" /></p>
						<p>パスワード:<br /><input type="password" cms:id="password" /></p>
						<p>
							<input type="checkbox" cms:id="auto_login" />
							<label for="login_memory">自動的にログイン</label>
						</p>
						<p class="center"><input type="submit" name="login" id="button" value="ログイン" /></p>
					</form cms:id="login_form">
				</div>
			</div><!--END .sideBox -->
			<!-- /cms:id="not_loggedin" -->
			<!-- cms:id="is_loggedin" -->
			<div id="mypage" class="sideBox">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_mypage_h3.jpg" alt="マイページ" width="200" height="37" /></h3>
					<ul class="clearfix">
						<li><a cms:id="top_link">マイページトップ</a></li>
						<li><a cms:id="order_link">購入履歴一覧</a></li>
						<li><a cms:id="edit_link">登録情報変更</a></li>
						<li><a cms:id="logout_link">ログアウト</a></li>
					</ul>
				</div>
			</div><!--END .sideBox -->
			<!-- /cms:id="is_loggedin" -->
			<!-- /shop:module="common.parts.mypage_login" -->
			
			<div id="search" class="sideBox">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_search_h3.jpg" alt="商品検索" width="200" height="37" /></h3>
					<!-- shop:module="html.search_box" -->
					<form method="GET" action="@@SOYSHOP_URI@@/search.html">
						<p>
							<input type="hidden" name="type" value="name">
							<input id="textfield" type="text" name="q" />
							<br>
							<input type="image" name="button" id="button" value="検索" src="@@SOYSHOP_URI@@/themes/shop/side_search_btn.jpg" />
						</p>
					</form>
					<!-- /shop:module="html.search_box" -->
				</div>
			</div><!--END .sideBox -->
			<div id="cart" class="sideCart">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_cart_h3.jpg" alt="現在のカートの中" width="200" height="46" /></h3>
					<!-- shop:module="common.parts.cart" -->

					<!-- cms:id="full_cart" -->
					<dl>
						<!-- cms:id="item_list" -->
						<dt>
						<span cms:id="item_name">商品名</span>
						</dt>
						<dd>
						<!-- cms:id="item_price" /-->×<!-- cms:id="item_count" /-->
						＝<!-- cms:id="item_total_price" /--> 円
						</dd>
						<!-- /cms:id="item_list" -->
					
						<ul class="sum">
						<li>合計金額:<!-- cms:id="cart_total" /--> 円</li>
						</ul>
						<a cms:id="cart_link" href="@@SOYSHOP_URI@@/cart">
						<img height="35" width="160" alt="購入手続きへ" src="@@SOYSHOP_URI@@/themes/shop/side_cart_btn.jpg"/>
						</a>
						<!-- /cms:id="full_cart" -->
					</dl>
						<!-- cms:id="empty_cart" -->
						<p class="alC">カートは空です。</p>
						<!-- /cms:id="empty_cart" -->

					<!-- /shop:module="common.parts.cart" -->

				</div>
			</div><!--END .sideCart -->
			<div id="category"  class="sideBox">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_category_h3.jpg" alt="商品カテゴリ" width="200" height="37" /></h3>
					<ul>
					<!-- shop:module="common.category_navigation" -->
					<!-- カテゴリーリスト出力 -->
						<li><a href="#" cms:id="category_link"><!-- cms:id="category_name" -->ダミーカテゴリー<!-- /cms:id="category_name" -->(<!-- cms:id="entry_count" /-->)</a></li>
					<!-- / カテゴリーリストここまで -->
					<!-- /shop:module="common.category_navigation" -->
					</ul>
				</div>
			</div><!--END .sideBox -->
			<div id="calendar" class="sideBox2">
				<div class="indent">
					<h3><img src="@@SOYSHOP_URI@@/themes/shop/side_calendar_h3.jpg" alt="営業日カレンダー" width="200" height="46" /></h3>
					<!-- cms:id="current_calendar" -->
					<table>
						<thead>
							<tr>
								<th class="sun">日</th>
								<th>月</th>
								<th>火</th>
								<th>水</th>
								<th>木</th>
								<th>金</th>
								<th class="sat">土</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td class="sat close">4</td>
							</tr>
							<tr>
								<td class="sun close">5</td>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
								<td>10</td>
								<td class="sat close">11</td>
							</tr>
							<tr>
								<td class="sun close">12</td>								
								<td>13</td>
								<td>14</td>
								<td>15</td>
								<td>16</td>
								<td>17</td>
								<td class="sat close">18</td>
							</tr>
							<tr>
								<td class="sun close">19</td>
								<td>20</td>							
								<td>21</td>
								<td>22</td>
								<td>23</td>
								<td>24</td>
								<td class="sat close">25</td>
							</tr>
							<tr>
								<td class="sun close">26</td>
								<td>27</td>
								<td>28</td>	
								<td>29</td>
								<td>30</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<!-- /cms:id="current_calendar" -->
				</div>
			</div><!--END .sideBox2 -->
		</div>
		<!--END #side -->
		<div id="main">
		<!-- shop:module="common.parts.topic_path" -->
	  	<p>トップページ > <a href="#">検索結果</a></p>
		<!-- /shop:module="common.parts.topic_path" -->
			<h3 class="title">
				検索結果
			 	<!-- cms:id="results" -->
			 		全<!-- cms:id="total_count" /-->件中 <!-- cms:id="count_start" /--> - <!-- cms:id="count_end" /--> 件目
			 	<!-- /cms:id="results" -->
			 	<!-- cms:id="no_results" -->
			 		はありません
			 	<!-- /cms:id="no_results" -->
			</h3>
				<div id="item" class="clearfix">
					<!-- block:id="item_list" -->
					<div class="itemlist">
						<p><a cms:id="item_link"><img cms:id="item_small_image" width="150" height="100" /></a></p>
						<dl>
							<dt cms:id="item_name"><a>甘さ抜群のフルーツみたいなトマト</a></dt>
							<dd class="price" cms:id="item_price">1000円/100g</dd>
						</dl>
						<p class="cart_btn"><a cms:id="item_cart_link"><img src="@@SOYSHOP_URI@@/themes/shop/tocart_btn.jpg" alt="カートに入れる" width="130" height="30" class="wink" /></a></p>
					</div>
					<!-- /block:id="item_list" -->

				</div><!--END .item -->
				<div id="pager">
					<!-- shop:module="common.pager_navigation" -->
					<a class="prev_link" cms:id="prev_link"><img src="@@SOYSHOP_URI@@/themes/shop/icon_arrow_prev.jpg" alt="前へ" width="32" height="50" class="wink" /></a>
					<span><!-- cms:id="current_page" /-->/<!-- cms:id="total_page" /--></span>
					<a class="next_link" cms:id="next_link"><img src="@@SOYSHOP_URI@@/themes/shop/icon_arrow_next.jpg" alt="次へ" width="32" height="50" class="wink" /></a>
					<!-- /shop:module="common.pager_navigation" -->
				</div>
				<!--END #pager -->
		</div>
		<!--END #main -->
	</div>
	<!--END #inner -->
</div><!--END #container -->
<div id="footer">
	<div id="footnavi">
		<!-- shop:module="html.footer" -->
		<ul>
			<li><a href="/shop">トップページ</a></li>
			<li><a href="@@SOYSHOP_URI@@/shohin1/">商品一覧</a></li>
			<li><a href="@@SOYSHOP_URI@@/deliver">お支払・配送について</a></li>
			<li><a href="@@SOYSHOP_URI@@/tsubuyaki/">ブログ</a></li>
			<li><a href="@@SOYSHOP_URI@@/concept">会社概要</a></li>
			<li><a href="@@SOYSHOP_URI@@/inquiry">お問い合わせ</a></li>
		</ul>
		<ul>
			<li><a href="@@SOYSHOP_URI@@/exchange_display">特定商取引法に関する表示</a></li>
			<li><a href="@@SOYSHOP_URI@@/policy">プライバシーポリシー</a></li>
		</ul><!-- フッターのリンク集が入ります /-->
		<!-- /shop:module="html.footer" -->
	</div>
	<!--END #footnavi -->
		<!-- shop:module="html.address" -->
		<address> Copyright (c) お豆商事種式会社 All Rights Reserved.<br /> Powered by <a href="http://www.soycms.net/">SOY CMS</a> and <a href="http://app.soycms.net/list/app/SOY%20Shop">SOY Shop </a></address>
		<!-- /shop:module="html.address" -->
</div>
<!--END #footer -->
</body>
</html>