<h3>ERROR:この環境ではページ雛形の作成は出来ません。</h3>

<p style="margin:5px;">
テンプレーパック作成機能を利用する場合には、ZIP圧縮・解凍が出来るPHP環境が必要です。
</p>

<ul style="margin:10px;margin-left:20px;">
	<li>PHP5.2.2以上で、PHPのZIP機能を有効にしてビルドを行う。</li>
	<li>PEARの「<a href="http://pear.php.net/package/Archive_Zip">Archive_Zip</a>」をインストールする。</li>
	<li>PEARの「<a href="http://pear.php.net/package/Archive_Zip">Archive_Zip</a>」をダウンロードし、「common/lib」以下に解凍する。<br/>
		（共有サーバでPEARのインストール権限が無い方は上記の方法を試してください。)
	</li>
</ul>

<a soy:link="Template">テンプレート管理へ戻る</a>