
<p>追加するファイルをダブルクリックしてください。</p>

<iframe id="filemanager_filepage" soy:src="FileManager.FilePage" style="width:100%;height:450px;border:none;overflow:hidden;" frameborder="no"></iframe>

<div class="table-responsive">

<table id="add_file_table" soy:id="add_file_table" class="table table-striped">
<thead>
	<tr>
		<td>追加するファイル</td>
		<td>説明</td>
		<td>削除</td>
	</tr>
</thead>

<tbody id="add_file_list">
	<!-- soy:id="add_file_list" -->
	<tr soy:id="add_file_li">
		<td>
			<a soy:id="add_file_link"></a>
			<input soy:id="add_file_hidden_input" type="hidden" />
			<input soy:id="add_file_url_input" type="hidden" />
		</td>

		<td>
			<input soy:id="add_file_description_input" type="text" class="form-control">
		</td>

		<td>
			<a href="javascript:void(0);" onclick="$(this).closest('tr').remove();" class="btn btn-danger btn-sm">削除</a>
		</td>
	</tr>
	<!--/soy:id="add_file_list" -->
</tbody>
</table>

</div>
