<p class="alert alert-info"><i class="fa fa-bell fa-fw"></i>雛形の作成を開始する前に必ず<a soy:link="SiteConfig">サイトの設定</a>で変更ボタンをクリックして下さい。</p>

<p>作成するページ雛形のID、名前、種類を設定して下さい。</p>

<div class="form-group">
	<label>ID</label><span soy:message="TEMPLATE_ID"></span>
	<input class="form-control" type="text" soy:id="template_id">
</div>

<div class="form-group">
	<label>ページ雛形名</label><span soy:message="TEMPLATE_NAME"></span>
	<input class="form-control" type="text" soy:id="template_name">
</div>

<div class="form-group">
	<label>ページ雛形の種類</label><span soy:message="TEMPLATE_TYPE"></span>
	<input type="checkbox" soy:id="template_type_normal">
	<input type="checkbox" soy:id="template_type_blog">
</div>

<div class="form-group">
	<label>説明</label><span soy:message="TEMPLATE_DESCRIPTION"></span>
	<textarea soy:id="template_description" cols="60" rows="8" class="form-control"></textarea>
</div>
