<h3>ページ雛形の新規作成(2/5)</h3>
<p>ページ雛形を新規に作成する場合は、「新規に作成」を、ページからインポートする場合は「ページからインポート」を選択し、インポートするページを選択してて下さい。</p>

<div class="section">
<p class="sub">名前
	<img soy:message="TEMPLATE_FILE_NAME">	
</p>
<input soy:id="name" />
</div>

<div class="section">

<div class="inline">
	<input soy:id="import" /><img soy:message="TEMPLATE_FILE_IMPORT"/>
	<select soy:id="page_list" style="margin-left:15px;">
		<option value="">------</option>
	</select soy:id="page_list">
</div>

<div>
	<input soy:id="create" /><img soy:message="TEMPLATE_FILE_CREATE"/>
</div>

</div>




