<div class="functions">
	<div class="function">
		<a soy:link="inquiry.Template">戻る</a>
	</div>

	<br style="clear:both;" />
</div>

<div style="padding:0 4px 20px;">

<style type="text/css">
.editor{
	width:90%;
	font-size:12px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.update_btn{
	height:3em;
	width:150px;
	margin-right:auto;
	margin-left:auto;
}
</style>

<h1>テンプレートの編集 - <!-- soy:id="target" /--></h1>

<form method="post" soy:id="form">

<div style="text-align:center;">

<textarea soy:id="content" class="editor"></textarea>
<input class="update_btn" type="submit" name="save" value="保存" />
</div>

</form>


</div>
