<h2><!-- soy:id="template_name" /--> - アプリケーションテンプレート編集</h2>
<nav>
	<ol class="breadcrumb">
		<li><a soy:link="Site">サイト管理</a></li>
		<li><a soy:link="Site.Template">テンプレート管理</a></li>
		<li><a soy:link="Site.Template.Application">アプリケーションテンプレート管理</a></li>
		<li class="active">アプリケーションテンプレート編集</li>
	</ol>
</nav>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">編集</div>
			<div class="panel-body">
				<div class="alert alert-success" soy:display="updated">更新しました</div>
				<form soy:id="form" id="form">
					<div class="form-group">
						<label for="">テンプレートパス</label><br>
						<!-- soy:id="template_path" /-->
					</div>

					<div class="table-responsive">
						<table class="table table-striped">
							<caption soy:id="template_path">HTML</caption>
							<tr>
								<td>
									<div id="editor" style="height: 600px" soy:id="template_content_ace"></div>
									<textarea name="template_content" style="display:none;" id="template_editor"></textarea>
								</td>
							</tr>
						</table>
					</div>

					<div class="text-center">
						<button class="btn btn-primary btn-lg" id="save_btn">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script soy:id="ace_editor"></script>
<script>
var editor = ace.edit("editor");
editor.setFontSize(16);
editor.session.setUseSoftTabs(false);
editor.getSession().setMode("ace/mode/html");

$("#save_btn").on("click", function(){
	save();
});

// ctrl + sで保存
(function(){
	$(window).on("keydown", function(ele){
		var code = (ele.keyCode ? ele.keyCode : ele.which);
	    // 上記コードはブラウザによってキーコードを取得するプロパティが異なる問題をかいけつするものです。

	    if (!(code == 83 && ele.ctrlKey)) return true;
	    // code 83 は　Sです。
	　　
	    ele.preventDefault();
	    // ctrl+S に割り当てられているデフォルトの機能を無効化します。

		save();
	    return false;
	});
})();

function save(){
	$('textarea[name="template_content"]').val(editor.getValue());
	$("#form").submit();
}
</script>
