/* table for form */
table.form_table_lpo{
	text-align:left;
	width:95%;
	margin-right:auto;
	margin-left:auto;
}
table.form_table_lpo tr:hover{
	background-color:auto;
}
table.form_table_lpo th{
/*	width:200px;*/
	background-color:#FFF4CE;
	text-align:center;
	border-bottom:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
}
table.form_table_lpo td{
	border-bottom:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
}
table.form_table_lpo textarea{
	width:98%;
	height:600px;
}
table.form_table_lpo input[type="text"],
table.form_table_lpo input[type="password"]{
	border:solid 1px #bbb;
}