.block .block_body dl dd{
	padding-left: 1ex;
}

.block dd .form_table{
	margin: 1ex 0;
}

.block .form_table table{
	margin: 0;
}

/*
#order_form .pageBtn{
	margin: 0;
}
*/
.pageBtn input[type=submit]{
	width: 280px;
}

thead td{
	background-color: rgb(214, 214, 214);
	font-weight: bold;
}
