tr.pager td,
tr.pager th {
	/* border:solid 1px #AAAAAA; */
	/* border-style:none solid solid none; */
	/* background-color:white; */
	text-align:right;
	vertical-align:middle;
}
tr.pager .pager_item{
	float:right;
	margin-right:10px;
	line-height:25px;
}

.sorter{

}

tr.pager .pager_item a.pager_current{
	font-weight: bolder;
	color: black;
}


.sorter_selected{
	color:red !important;
}