#template_content{
	width:100%;
	height:600px;
}

#template_toolbox {
	margin:10px 0;	
}

.block_list{
	float:left;
	width:30%;
	margin-left:10px;
}

.block_list h5{
	margin-top:10px;
	margin-bottom:5px;
}

.block_list p{
	margin-left:5px;
}

.block_list2{
	float:left;
	width:60%;
	margin-left:10px;
}

.block_list2 h5{
	margin-top:10px;
	margin-bottom:5px;
}

.block_list2 div{
	margin-left:5px;
	float:left;
	border-bottom:1px solid #CCCCCC;
	margin-top:2px;
}

#css_selector{
	background-color:#bbb;
	padding-left:10px;
}