@charset "UTF-8";

/*======================================================
    common styles
======================================================*/

img{border:0;}
.clear{clear:both;}
.flL{float:left;}
.flR{float:right;}
.alL{text-align:left;}
.alR{text-align:right;}
.alC{text-align:center;}
.w50{width:50px;}
.w80{width:80px;}
.w130{width:130px;}
.w200{width:200px;}
.w300{width:300px;}
.w450{width:450px;}

/*  clearfix
-----------------------------------------------*/
.clearfix:after {  
    content: ".";  
    display: block;  
    visibility: hidden;  
    height: 0.1px;  
    font-size: 0.1em;  
    line-height: 0;  
    clear: both;  
    }
.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
    }
  
/*======================================================
    Layouts
======================================================*/
 
section{
    margin-bottom:20px;
}

/*======================================================
    エラー
======================================================*/
div.error{
    color:#f53030;
    background-color:#FFFFFF;
    background:url(../images/icon_error.png) no-repeat 15px 18px;
    border:2px solid #f53030;
    margin:6px;
    padding:0px 0px 0px 25px;
    font-weight:bold;
}

p.error{
    color:#f53030;
    border:1px solid #f53030;
    background:url(../images/icon_error.png) no-repeat 15px 7px;
    padding:5px 0 5px 25px;
    font-weight:bold;
    margin-top:10px;
}