@charset "UTF-8";
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+	CSS information
+
+	file name  :common.css
+	author     :tuqulore. (admin)
+	date       :2013.4.5
+	style info :共通スタイル
+	SOY Shop用に一部改変
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*======================================================
	Reset
 ------------------------------------------------------
	html5doctor.com Reset Stylesheet
	v1.6.1
	Last Updated: 2010-09-17
	Author: Richard Clark - http://richclarkdesign.com 
	Twitter: @rich_clark
======================================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body{
	font-family: Arial, Helvetica,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
	line-height:1.5;
	font-size:12px;
	*font-size:86%;/*IE*/
	color:#333;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*======================================================
	common styles
======================================================*/

html{
/**background: url(../img/bg.jpg) repeat;**/
}
body {
	font-family: Myriad Pro, Arial, Helvetica,"ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,  "MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
	font-size: 12px;
	color: #241400;
	line-height: 1.6;
}
header{
/**width:960px;**/
	margin:0 auto 37px;
	text-align:left;
/**	height:118px;**/
}
ul,li{
	list-style: none;
}
a{color:#333;
	text-decoration:underline;
	outline:none;
}
section{
	margin-bottom:20px;
}
address{
	font-style: normal;
}
footer{
	clear:both;
	width:100%;
	background-color:#ececec;
	border-top:1px dotted #a0a0a0;
	padding:20px 0;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.mt{
	margin-top:10px;
}
.mb{
	margin-bottom:10px;
}

.clearfix:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
}
a.anchor_btn{
	font-size:1.5em;
	color:#FFFFFF;
	text-decoration:none;
	padding:7px;
	border-radius: 5px;
}
a.back{
	background-color:#FF5510;
}
a.back:hover{
	background-color:#ED4604;
}

/*-----------------------------------------------
	common parts
-----------------------------------------------*/

p.btn a{
	background: #ffdf00
	background: #ffdf00 url(../img/btn_icon.png) no-repeat 90% center;
	background: url(../img/btn_icon.png) no-repeat 90% center, -moz-linear-gradient(top,  #ffdf00 50%, #ebce00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffdf00), color-stop(51%,#ebce00));
	background: url(../img/btn_icon.png) no-repeat 90% center, -webkit-linear-gradient(top,  #ffdf00 50%,#ebce00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -o-linear-gradient(top,  #ffdf00 50%,#ebce00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -ms-linear-gradient(top,  #ffdf00 50%,#ebce00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, linear-gradient(to bottom,  #ffdf00 50%,#ebce00 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf00', endColorstr='#ebce00',GradientType=0 );
	display: block;
	padding: 0.8em 0 0.5em;
	text-align: center;
	color: #442701;
	text-decoration: none;
	font-size: 1rem;
	margin: 0.5em 0;
	border-radius: 30px;	
}
p.btn a:hover{
	background: #ffbf00;
	background: #ffbf00 url(../img/btn_icon.png) no-repeat 90% center;
	background: url(../img/btn_icon.png) no-repeat 90% center, -moz-linear-gradient(top,  #ffbf00 50%, #eaaf00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffbf00), color-stop(51%,#eaaf00));
	background: url(../img/btn_icon.png) no-repeat 90% center, -webkit-linear-gradient(top,  #ffbf00 50%,#eaaf00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -o-linear-gradient(top,  #ffbf00 50%,#eaaf00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, -ms-linear-gradient(top,  #ffbf00 50%,#eaaf00 51%);
	background: url(../img/btn_icon.png) no-repeat 90% center, linear-gradient(to bottom,  #ffbf00 50%,#eaaf00 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#eaaf00',GradientType=0 );
}

.clear{
	clear: both;
}

a.pdf_dl{
	background: url(../images/icon_pdf.png) no-repeat;
	text-decoration:none;
	padding-left:20px;
}
a.pdf_dl:hover{
	color:#03F;
}

/*___ #main common _____________________*/

#main section{
	margin-bottom: 3em;
}
#main section:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}

#main img.image{
	padding: 5px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#main img.alignleft{
	float: left;
	margin: 0 1em 1em 0;
}


#main h1.title{
	background: url(../img/title_bg.png) no-repeat 0 bottom;
	font-size: 1.2em;
	margin-bottom: 1em;
}

/*___ .itemList _____________________*/

#main .itemList:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
}
#main .itemList li{
	width: 218px;
	float: left;
	border: 1px solid #9a8b78;
	border-radius: 0 0 5px 5px;
	background: #fff;
	background: rgba(255,255,255,0.6);
	font-size: 0.8em;
	margin-bottom: 20px;
	margin-right: 10px;		
	position: relative;
}
#main .itemList li:hover{
	background: #fff;
}
#main .itemList h2 a{
	color: #333;
}
#main .itemList li p.badge{
	position: absolute;
	right: 8px;
	top: -2px;
}
#main .itemList li:nth-child(3n){
	margin-right: 0;
}
#main .itemList li div{
	padding: 10px;
}
#main .itemList li img.thumb{
	width: 218px;
	height: auto;
}
#main .itemList li span{
	color: #0076ef;
}
#main .itemList li p.price{
	border-top: 1px dotted #9a8b78;
	color: #c00;
	text-align: right;
	margin-top: 5px;
	padding-top: 5px;
}

/*	.pager
-----------------------------------------------*/

/*_____ list_pager _____*/

.list_pager{
	width:100%;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:10px 10px;
	margin-bottom:10px;
}
.list_pager p{
	float:left;
}
.list_pager ul{
	float:right;
}
.list_pager ul li{
	float:left;
	border-right:1px solid #666;
	padding:0 6px;
}
.list_pager ul li:last-child{
	border-right:none;
}


/*_____ item_pager _____*/

.item_pager{
	width:100%;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:10px 10px;
	margin-bottom:10px;
	text-align:center;
	background-color:#e5e5e5;
}
.item_pager ul li.prev{
	float:left;
}
.item_pager ul li.next{
	float:right;
}

/*___ #main .breadpath _____________________*/

.breadpath{
	font-size: 0.8em;
	margin-bottom: 1em;
}
.breadpath li{
	display: inline-block;
}
.breadpath li a{
	color: #432805;
	display: block;
}
.breadpath li a:after{
	content: ">";
	padding-left: 0.5em;
	text-decoration: none;
}

/*-----------------------------------------------
	header
-----------------------------------------------*/
header{
	width: 980px;
	height:118px;
	margin: 0 auto 2em;
	position: relative;
}
header hgroup{
	float:left;
	margin-top:20px;
}
header hgroup h1{
	font-size:22px;
	margin-bottom:2px;
}
header aside{
	float:right;
	height:95px;
}
header aside section#head_cart{
	float:left;
	width:340px;
	border:1px solid #ccc;
	margin-top:15px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fff;
	background-color:rgba(255,255,255,0.8);
}
header aside section#head_cart h1{
	background-color:#ececec;
	background-image:none;
	color:#333;
	font-size:12px;
	margin:5px;
	padding:3px 0 3px 5px;
	font-weight:normal;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
}
header aside section#head_cart p#sum{
	padding:0 0 5px 10px;
}
header aside section#head_cart p.head_btn{
	float:right;
	margin:5px 5px 0 0;
}
header aside section#login{
	float:right;
	text-align:right;
	margin:15px 0 0 20px;
}


/*___ nav _____________________*/

header nav{
	clear:both;
	text-align:right;
	position:relative;
	background:#FFF url(../images/subnav_bg.png) repeat-x 0px;
}
header nav ul:after {  
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
header nav ul{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}
header nav ul li{
	float:left;
	margin-left:20px;
	text-align:right;
}
header nav ul li a{
	background:url(../images/subnav_icon.png) no-repeat 0 5px;
	padding-left:10px;
}
header nav p{
	position:absolute;
	top:0;
	left:5px;
}


/*-----------------------------------------------
	keyvisual
-----------------------------------------------*/
#keyvisual{
	width: 980px;
	margin: 0 auto 2em;
}

/*-----------------------------------------------
	wrapper
-----------------------------------------------*/

#wrapper{
	width: 980px;
	margin: 0 auto;
}
#wrapper:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
#side{
	width: 200px;
	float: left;
}
#main{
	width: 720px;
	float: right;
}


/*___ #side _____________________*/

#side ul.sidemenu{
	margin-bottom: 20px;
}
#side ul.sidemenu li{
	margin-bottom: 5px;
}
#side ul.sidemenu li.egg a{
	background: #fff url(../img/sidemenu_eggs.png) no-repeat 5px center;
}
#side ul.sidemenu li.sweets a{
	background: #fff url(../img/sidemenu_sweets.png) no-repeat 5px center;
}
#side ul.sidemenu li.chicken a{
	background: #fff url(../img/sidemenu_chicken.png) no-repeat 5px center;
}
#side ul.sidemenu li a{
	display: block;
	border: 1px solid #9a8b78;
	border-radius: 5px;
	text-decoration: none;
	font-size: 18px;
	color: #432805;
	padding: 20px 10px 18px 90px;
	line-height: 1.2;
}
#side ul.sidemenu li a span{
	color: #9d8c77;
	font-weight: normal;
	display: block;
	font-size: 0.8em;
}
#side ul.sidemenu li a:hover{
	background-color: #efedeb;
}

#side .sideshop h1{
	color: #432805;
	margin-bottom: 5px;
}
#side .sideshop .content{
	border: 1px solid #9a8b78;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	font-size: 0.8em;
	margin-bottom: 20px;	
}

#map_canvas {
	margin: 0;
	padding: 0;
	width: 218px;
	height: 250px;
}

#map_content_canvas {
	margin: 0;
	padding: 0;
	width: 620px;
	height: 350px;
}

/*___ #main top _____________________*/

#main .topNews dl{
	border: 1px solid #9a8b78;
	border-radius: 5px;
	background: #fff;
	background: rgba(255,255,255,0.6);
	padding: 20px;
	margin-bottom: 1em;
}
#main .topNews dl:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
#main .topNews dl dt,
#main .topNews dl dd{
	float: left;
	border-top: 1px dotted #9a8b78;
	padding: 0.7em 0;
}
#main .topNews dl dt{
	width: 180px;
	font-weight: bold;
	padding-left: 5px;
}
#main .topNews dl dd{
	width: 450px;
}

/*___ .lead _____________________*/

.lead p.detail_img{
	float: left;
	width: 420px;
}
.lead .detail_info{
	width: 240px;
	float: right;
}
.lead .detail_info p.cart_que a {
	font-size:0.8em;
    background: url("../images/icon_mail.png") no-repeat scroll 0 3px transparent;
    padding-left: 20px;
    float:right;
}
.lead .detail_info p.cart{
	text-align: center;
}
.lead .detail_info table{
	background: #fff;
	background: rgba(255,255,255,0.6);
	border: 1px solid #9a8b78;
	border-collapse: collapse;	
	margin-bottom: 1em;
	width: 100%;
}
.lead .detail_info table th{
	background: #e5dcd1;
	background: rgba(154,139,120,0.15);
	font-size: 0.8em;
}
.lead .detail_info table th,
.lead .detail_info table td{
	padding: 5px 15px;
	border: 1px solid #9a8b78;
	vertical-align: middle;
}
.detail_info_column{
	padding: 4px 0;
}

#check_sns li{
	display: inline-block;
}

/*___ .shops _____________________*/

.shops img.image{
	width: 200px;
}

/*___ .detail _____________________*/

#main .detail{
	background: #fff;
	background: rgba(255,255,255,0.7);
	padding: 20px 30px;
	border: 1px dotted #9a8b78;
	margin-bottom: 2em;
}
#main .detail dl,
#main .detail ul,
#main .detail p{
	margin-bottom: 2em;
}
#main .detail h2{
	font-size: 1.4em;
	color: #6a4c25;
}
#main .detail dl dt{
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1.2em;
}
#main .detail dl dd{
	/*margin-left: 3em;*/
}
#main .detail table{
	background: #fff;
	background: rgba(255,255,255,0.6);
	border: 1px solid #9a8b78;
	border-collapse: collapse;	
}
#main .detail table th{
	background: #e5dcd1;
	background: rgba(154,139,120,0.15);
}
#main .detail table th,
#main .detail table td{
	padding: 5px 15px;
	border: 1px solid #9a8b78;
	vertical-align: middle;
}


#main .detail span.kind{
	background-color: #6a4c25;
	color: #fff;
	font-size: 0.8em;
	border-radius: 3px;
	padding: 4px 4px 2px;
	margin-right: 5px;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
}
#main .detail ul.press{
	margin: 1em 0;
}
#main .detail ul.press li{
	margin-bottom: 5px;
	margin-left: 5px;
}
#main .detail ul.press li span.date{
	font-weight: bold;
}
#main .detail ul.press li span.date:after{
	content: "-";
	margin: 0 5px;
}

#main .detail .note p{
	margin-bottom: 0;
}

#main .pressheader{
	text-align: right;
}

#main section.column ul{
	margin-left:20px;
	list-style-type:disc !important;
}

#main section.column ul li{
	list-style:disc !important;
	padding:3px 0;
}


#main section.column ul li a{
	font-size:1.3em;
}
#main section.column ul li a:hover{
	color:#03F;
}

/*-----------------------------------------------
	footer
-----------------------------------------------*/
footer{
	width: 100%;
	text-align: center;
	font-size: 0.9em;
}
footer .footernav{
/**background: url(../img/subfooter_bg.png) repeat;**/
}
footer .footernav li{
	display: inline-block;
	padding: 1em;
}
footer .footernav a{
	color: #432805;	
}

footer p.copyright{
	background: #432805 url(../img/header_bg.jpg) repeat-x bottom;
	padding: 1em;
	font-size: 0.9em;
	color: #fff;
}

/*======================================================
	Titleまわり
======================================================*/
section h1{
	background:#f2f9fc url(../images/title_main_bg.png) no-repeat 6px 7px;
	padding:5px 0 5px 28px;
	color:#146685;
	margin-bottom:8px;
	font-size:14px;
	border:1px solid #b6dfef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
section.info h1{
	background:#e5e5e5 url(../images/title_sub_bg.png) no-repeat 6px 7px;
	color:#313131;
	border:1px solid #ccc;
}

/*	カテゴリ
-----------------------------------------------*/
section#category ul li a{
	display:block;
	text-decoration:none;
	background:url(../images/category_icon_1.png) no-repeat 0 1px;
	padding:7px 0 6px 18px;
	font-weight:bold;
	border-bottom:1px solid #b9b9b9;
}
section#category ul li a:hover{
	background-color:#dddddd;
}
section#category ul li ul li a{
	background:url(../images/category_icon_2.png) no-repeat 8px 7px;
	padding:3px 0 3px 23px;
	font-weight:normal;
	border-bottom:1px solid #b9b9b9;
}
section#category ul li ul li a:hover{
	background-color:#eeeeee;
}
section#category ul li ul li ul li a{
	background:url(../images/category_icon_3.png) no-repeat 20px 8px;
	padding:3px 0 3px 30px;
	font-weight:normal;
	color:#666;
	border-bottom:1px dotted #b9b9b9;
}
section#category ul li ul li ul li a:hover{
	background-color:#f0f0f0;
}

/*	検索
-----------------------------------------------*/
section#search input.w130{
	margin-right:10px;
}

/*	カレンダー
-----------------------------------------------*/
section#calender h2{
	text-align:center;
	background-color:#efefef;
	padding:3px 5px 3px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:10px;
}
section#calender table{
	border:1px solid #efefef;
	width:100%;
	margin-bottom:10px;
}
section#calender table th,
section#calender table td{
	border:1px solid #efefef;
	text-align:center;
}
section#calender table .sun{
	color:#C00;
}
section#calender table .sat{
	color:#36C;
}
section#calender table .close{
	background-color:#fce4e4;
}
section#calender p{
	line-height:1.3;
	font-size:10px;
}

/*___ Override cart.css _____________________*/

div#main section#cart_detail{
	background: none;
}

h1.cart_txt{
	background-color: #fff;
}

/* --- フロー図 --- */
ul.flow li{
	background: rgb(217,230,236);
	background: -moz-linear-gradient(top,  rgba(217,230,236,1) 0%, rgba(172,202,215,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,230,236,1)), color-stop(100%,rgba(172,202,215,1)));
	background: -webkit-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,230,236,1) 0%,rgba(172,202,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e6ec', endColorstr='#accad7',GradientType=0 );
	border-radius: 3px;
	width: 23%;
	text-shadow: -1px -1px 1px rgba(255,255,255,0.8);
	font-size: 0.7em;
	padding: 0.8em 0.5% 0.3em;
	margin: 0 0.5%;
	text-align: center;
	display: inline-block;
}
ul.flow li.active{
	background: rgb(132,171,189);
	background: -moz-linear-gradient(top,  rgba(132,171,189,1) 0%, rgba(47,115,143,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,171,189,1)), color-stop(100%,rgba(47,115,143,1)));
	background: -webkit-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: -o-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: -ms-linear-gradient(top,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	background: linear-gradient(to bottom,  rgba(132,171,189,1) 0%,rgba(47,115,143,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84abbd', endColorstr='#2f738f',GradientType=0 );	
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.6);
}


/* --- カートに入っている商品 --- */

#main .detail .cart_li{
	border-bottom: 1px solid #999;
	padding-bottom: 0.5em;
}
#main .detail .cart_li:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
#main .detail .cart_li.title{
	font-size: 0.8em;
}
#main .detail .cart_li ul{
	margin-bottom: 0.5em;
}
#main .detail .cart_li .cart_itemthumb,
#main .detail .cart_li .cart_itemtitle,
#main .detail .cart_li .cart_itemid,
#main .detail .cart_li .cart_itemprice,
#main .detail .cart_li .cart_itemnum,
#main .detail .cart_li .cart_itemsubsum,
#main .detail .cart_li .cart_itemdelete{
	float: left;
}
#main .detail .cart_li .cart_itemthumb{
	width: 80px;
	margin-right: 10px;
}
#main .detail .cart_li .cart_itemtitle{
	width: 150px;
	margin-right: 10px;
}
#main .detail .cart_li .cart_itemid{
	width: 80px;
}
#main .detail .cart_li .cart_itemprice{
	width: 80px;
}
#main .detail .cart_li .cart_itemnum{
	width: 85px;
}
#main .detail .cart_li .cart_itemsubsum{
	width: 65px;
	/*color: #c00;*/
	text-align: right;
}
#main .detail .cart_li.title .cart_itemsubsum{
	text-align: center;
}
#main .detail .cart_li .cart_itemdelete{
	width: 50px;
}


#main .detail .sumarea{
	background: #e5dcd1;
	background: rgba(154,139,120,0.15);
	font-weight: bold;
	padding: 0.5em 1em 0.5em 0.5em;
}

#main .detail .sumarea:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
}
#main .detail .sumarea .sumtitle{
	float: left;
}
#main .detail .sumarea .sumprice{
	float: right;
}

#main .detail .sumelse{
	padding: 0.5em 1em 0.3em 0.5em;
	border-bottom: 1px dotted #ccc;
	font-size: 0.9rem;
}
#main .detail .sumelse:after{
	content: "";
	clear: both;
	height: 0;
	display: block;
}
#main .detail .sumelse .sumtitle{
	float: left;
}
#main .detail .sumelse .sumprice{
	float: right;
}



/* --- カートその他 --- */

#cart_procedure .cart_procedure_first_right{
	margin-right: 5px;
}
#cart_procedure .cart_procedure_login_right{
	float: left;
	margin-left: 5px;
}

#cart_procedure .cart_procedure_first_right h1,
#cart_procedure .cart_procedure_login_right h1{
	font-size: 1.2em;
	color: #6a4c25;
}
.btn{
	background: none;
	margin: 10px 0 25px;
}

/* --- 個人情報 --- */

#main .detail .cart_detail_dl{
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;
}
#main .detail .cart_detail_dl:after{
	content: "";
	height: 0;
	clear: both;
	display: block;
}
#main .detail .cart_detail_dl dt{
	font-size: 0.9rem;
	float: left;
	width: 30%;
	margin: 0;
	border-top: 1px dotted #ccc;
	padding: 0.5em 1em 0;
	margin-top: 0.5em;
}
#main .detail .cart_detail_dl dd{
	float: left;
	width: 65%;
	margin: 0;
	border-top: 1px dotted #ccc;
	padding: 0.5em 0 0;
	margin-top: 0.5em;
	color: #666;
}
#main .detail .cart_detail_dl dd label{
	color: #333;
}
#main .detail .cart_detail_dl dd p{
	margin-bottom: 0.3em;
}
#main .detail .cart_detail_dl dd p.remarks{
	font-size: 0.9rem;	
}
#main .detail .cart_detail_dl dd p.price{
	color: #c00;
	text-align: right;
}
input.w50{
	width: 50px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+	style info : 一般的なスマートフォン用
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 600px){

#wrapper{
	width: 94%;
	margin: 0 auto;
}
#main,#side{
	width: 100%;
	float: none;
}
header{
	width: 96%;
	margin: 0 auto;
}
header h1{
	text-align: center;
}
header h2{
	position: static;
}
header nav#gnav ul{
	margin-bottom: 1em;
}
header nav#gnav ul li {
	width: 49%;
	border-bottom: 1px dotted #9d8c77;
}
header nav#gnav ul li:nth-child(2n){
	border-right: none;
}
header nav#gnav ul li:last-child{
	width: 98%;
	border-bottom: none;
}
header nav#gnav ul li a span {
	display: none;
}

header nav#gnav p.navcart.btn{
	position: static;
	margin-bottom: 1.5em;
}
header nav#gnav p.navcart.btn a{
	margin: 0 auto;
	width: 80%;
	font-size: 1rem;
}



#keyvisual{
	display: none;
}

#main h1.title{
	background: none;
	border-bottom: 5px solid #9d8c77;
}

#main .itemList li{
	width: 90%;
	margin: 0 auto 1em;
	float: none;
}
#main .itemList li:nth-child(3n){
	margin-right: auto;
}
#main img{
	display: block;
	text-align: center;
	margin: 0 auto 1em;
	max-width: 100%;
}
#main img.image{
	padding: 5px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	width: 100% !important;
	height: auto !important;
}
#main .shops td img.image{
	padding: 2px;
	width: 60px;
	max-width: none;
}
#main img.alignleft{
	float: none;
}

#main .topNews dl{
	padding: 10px;
}
#main .topNews dl dt,
#main .topNews dl dd{
	width: auto;
	float: none;
	border-top: none;
	padding: 0 0 0.5em;
}
#main .topNews dl dd{
	border-bottom: 1px dotted #9a8b78;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

.lead div.detail_info{
	width:90%;
	margin: 0 auto;
	float:none;
}

.lead p.detail_img{
	width:100%;
}

#side .sidebnr{
	text-align: center;
}


footer .footernav{
	padding-bottom: 0.5em;
}
footer .footernav li{
	padding: 0.5em 1em 0;
}

/*___ Override cart.css _____________________*/

#cart #side{
/**display: none;**/
}

.pconly{
	display: none;
}

/* --- カートに入っている商品 --- */

#main .detail .cart_li{
	border-bottom: 1px solid #999;
	padding: 0.5em 0;
	display: -webkit-box;
}
#main .detail .cart_li:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
}
#main .detail .cart_li.title{
	display: none;
}
#main .detail .cart_li ul{
	margin-bottom: 0.5em;
	width: auto;
}

#main .detail .cart_li .cart_itemdetail{
	width: 80%;
}

#main .detail .cart_li .cart_itemthumb,
#main .detail .cart_li .cart_itemtitle,
#main .detail .cart_li .cart_itemid,
#main .detail .cart_li .cart_itemprice,
#main .detail .cart_li .cart_itemnum,
#main .detail .cart_li .cart_itemsubsum,
#main .detail .cart_li .cart_itemdelete{
	float: none;
	width: auto;
	font-size: 0.8em;
}
#main .detail .cart_li .cart_itemtitle{
	margin-right: 2em;
}
#main .detail .cart_li .cart_itemid{
}
#main .detail .cart_li .cart_itemprice{
}
#main .detail .cart_li .cart_itemnum{
}
#main .detail .cart_li .cart_itemsubsum{
	text-align: right;
	margin-right: 2em;
	font-size: 1rem;
}
#main .detail .cart_li .cart_itemsubsum:before{
	content: "小計："
}

#main .detail .sumarea{
	padding: 0.5em;
}

/* --- カードその他 --- */

#cart_procedure .cart_procedure_first_right,
#cart_procedure .cart_procedure_login_right{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* --- 個人情報 --- */

#main .detail.cart{
	padding: 1em;
}
#main .detail .cart_detail_dl dt{
	float: none;
	width: auto;
	margin: 0;
	border-top: 1px dotted #ccc;
	margin-top: 0.5em;
	padding: 0.5em 0 0 0.3em;
}
#main .detail .cart_detail_dl dd{
	float: none;
	width: auto;
	margin: 0;
	padding: 0 0 0 0.5em;
	border-top: none;
}


}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+	style info : 一般的なタブレット用
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 480px) and (max-width: 839px){
}