h2{
	background:url(h2_bg.jpg) no-repeat 0 0;
	}

table.form_table th{
	background:url(th_bg.jpg) no-repeat 0 0;
	}
table.form_table td{
	background:url(td_bg.jpg) no-repeat 0 0;
	}





