<!DOCTYPE html>
<html lang="ja">

<head soy:page="_common.HeaderPage" isOverWrite="true">
</head soy:page="_common.HeaderPage">

<body>

    <div id="wrapper">
		<!-- Navigation -->
        <nav  class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" soy:page="_common.UpperMenuPage"><!-- --></nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">テンプレートの編集 - <!-- soy:id="name" /--></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div soy:page="_common.MessagePanel" isOverWrite="true"></div>
            <div class="row">
                <div class="col-lg-12">
                	<div class="panel panel-green">
                   	 	<div class="panel-body">
                   	 		<a soy:id="back_link">詳細に戻る</a>
                   	 	</div>
					</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                	<div class="panel panel-green">
                		<div class="panel-heading">
                			概要<span soy:message="TEMPLATE_FILE_DESCRIPTION"></span>
                		</div>
                   	 	<div class="panel-body">
                   	 		<span soy:id="description"></span>
                   	 	</div>
					</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<div class="panel panel-green">
                	<form soy:id="edit_form" id="main_form">
                		<div class="panel-heading">
                			テンプレート<span soy:message="TEMPLATE_FILE_CONTENT"></span>
                		</div>
                   	 	<div class="panel-body">
                   	 		<div id="template_toolbox">
								<button type="button" onclick="showPreview();">プレビュ</button>
								<button type="button" onclick="common_to_layer(editorLink+'/InsertLink');">リンク挿入</button>
								<button type="button" onclick="common_to_layer(editorLink+'/FileUpload');">画像を挿入</button>
								<button type="button" onclick="showCSSEditor();" id="cssButton">CSS</button>
								<button type="button" onclick="toggle_editor();">エディタの切り替え</button>
							</div>
							<div class="panel-body">
								<div id="template_wrapper" style="position:relative;border:solid 1px #666666;width:100%;">
									<textarea soy:id="template" id="template_content" rows="40" cols="80" wrap="off" style="width:100%;border:none;margin:0;padding:0;line-height:12px;font-size:12px;"></textarea>
									<iframe id="template_editor_frame" soy:id="template_editor" style="display:none;height:400px;" src="" frameborder="0"></iframe>
								</div>
							</div>
							<div class="panel-body">
								<div id="css_editarea" style="display:none;width:100%;height:100%;">
									<div id="css_selector">
										<select id="css_list" name="css_list" onchange="onSelectCSS(this.value);">
											<option value="none">このページで使われているCSS一覧</option>
										</select>
										<input type="button" id="save_css_button" value="CSSを保存" onclick="saveCSS();" style="margin:0.5em 0;">
									</div>
									<div style="width:170px;float:left;overflow:auto;text-align:left;background-color:gray;height:100%;">
										<div id="cssMenu" ></div>
										<br style="clear:both;" />
									</div>
									<div style="float:left;height:100%;">
										<textarea id="css_editor" name="css_editor" wrap="off" style="width:100%;margin:0;border:none;padding:0;padding-left:5px;line-height:12px;font-size:12px;"></textarea>
									</div>
									<input type="hidden" soy:id="filepath" name="filePath">
									<span soy:id="filePath"></span>
								</div>							
							</div>
							
							<input id="update_button" type="submit" value="更新">
							</form soy:id="edit_form">
                   	 	</div>
                   	 	
					</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
		<!-- soy:page="_common.FooterPage" /-->
    </div>
    <!-- /#wrapper -->

</body>

</html>
