<html>
<head soy:page="_common.HeaderPage" isOverWrite="true">
	<link rel="stylesheet" href="./../../../../css/style.css" type="text/css">
</head>
<body>
<div class="container">
	<div id="header" class="span-24 last" soy:page="_common.UpperMenuPage"></div>
	<div id="menu" class="span-24 last" soy:page="_common.TabPage"></div>

			
	
		<!-- content start -->
		<div id="content" class="span-24 last">
			<div class="span-23 last">
				<h2>ページ雛形のインストール</h2>
			</div>

			<div class="functions prepend-1 span-22 last">
				<a soy:link="Template" style="margin-right:10px">ページ雛形管理に戻る</a>
			</div>
			
			<div class="prepend-1 span-22 last">
				<p>『<span soy:id="template_name">ページ雛形名</span>』をインストールします。</p>
				
				<!-- soy:display="file_list" -->
				<p>インストールするファイルを選択し、「インストール」ボタンを押して下さい。</p>
				<p>
				※配置先に既にファイルが存在している場合は<span style="color:red;">赤字</span>で表示されます。<br />
				※インストール先に既にファイルが存在していた場合は上書きされます。
				</p>
				<!-- /soy:display="file_list" -->
			</div>
			
			<div class="prepend-1 span-22 last">
				<form soy:id="form">
				
				<!-- soy:display="file_list" -->
				<table id="file_list">
					<tr>
						<th>
							<input type="checkbox" onclick="change_checkbox(this.checked);" checked="checked" />
							パス
						</th>
						<th>説明</th>					
					</tr>
					<tr soy:id="file_list">
						<td>
							<input type="checkbox" soy:id="check" class="file_list_checkbox" />
							<label soy:id="name">ファイルリスト</label>
						</td>
						<td>
							<span soy:id="description">説明</span>
						</td>
					</tr soy:id="file_list">			
				</table>
				<!-- /soy:display="file_list" -->
	
					<input type="submit" value="インストール" class="submit_button" />
				</form soy:id="form">
			</div>		
				
			<script type="text/javascript">
			function change_checkbox(value){
				$(".file_list_checkbox").each(function(){
			    $(this).prop("checked", value);
				});
			}
			</script>
			
			<div id="subFunctions" class="span-24 last" soy:page="_common.FooterMenuPage"></div>
		</div>


	
	<div soy:page="_common.FooterPage"></div>

</div soy:id="wrapper" >

</body>
</html>
