<html>
<head soy:page="_common.HeaderPage" isOverWrite="true">
	<link rel="stylesheet" href="./../../../../css/style.css" type="text/css">
</head>
<body>
<div class="container">
	<div id="header" class="span-24 last" soy:page="_common.UpperMenuPage"></div>
	<div id="menu" class="span-24 last" soy:page="_common.TabPage"></div>

			
	
		<!-- content start -->
		<div id="content" class="span-24 last">
			<div class="span-23 last">
				<h2>ページ雛形のアンインストール</h2>
			</div>
			
			<div class="functions prepend-1 span-22 last">
				<a soy:link="Template" style="margin-right:10px">ページ雛形管理に戻る</a>
			</div>
			
			
			<div class="span-23 last">
				<div class="span-22 prepend-1 last">
					<p>『<span soy:id="template_name">ページ雛形名</span>』をアンインストールします。</p>
					<p>削除するファイルを選択して下さい。</p>
					<p>配置先に既にファイルが存在していない場合は<span style="color:red;">赤字</span>で表示され、削除することはできません。</p>
					
					<form soy:id="form">
						
						<table id="file_list">
							<tr>
								<th style="text-align:center;">
									<input type="checkbox" onclick="change_checkbox(this.checked);" checked="checked" />
								</th>
								<th>パス</th>
								<th>説明</th>					
							</tr>
							<tr soy:id="file_list">
								<td style="text-align:center;">
									<input type="checkbox" soy:id="check" class="file_list_checkbox" />
								</td>
								<td>
									<span soy:id="name">ファイルリスト</span>
								</td>
								<td>
									<span soy:id="description">説明</span>
								</td>
							</tr soy:id="file_list">			
						</table>
			
						<input type="submit" class="submit_button" style="width:200px;" value="アンインストール" />
		
					</form soy:id="form">
				
				</div>
			</div>
			
			<script type="text/javascript">
			function change_checkbox(value){
				$(".file_list_checkbox").each(function(){
					$(this).prop("checked", value);
				});
			}
			</script>
			
			<div id="subFunctions" class="span-24 last" soy:page="_common.FooterMenuPage"></div>
		</div>

	<div soy:page="_common.FooterPage"></div>

</div soy:id="wrapper" >

</body>
</html>
