<html>
<head soy:page="_common.HeaderPage" isOverWrite="true">
</head>
<body style="text-align: left">
<?php /* Content */ ?>
<div id="layer_content" soy:display="enable_zip">
<h3>Upload template pack</h3>
* Select a template pack and click [Upload] button.
<form soy:id="upload_form" enctype="multipart/form-data">
	<input type="file" name="template_pack" style="width:100%; margin: 10px 0px;" size="90" />
	<input type="submit" value="アップロード" class="submit_button" />
</form soy:id="upload_form">
</div soy:display="enable_zip">

<div id="layer_content" soy:display="disable_zip">
<h3>ERROR:Template pack is not available in this server.</h3>

<p style="margin:5px;">
ZIP extention is required to use template packs.
</p>

<ul style="margin:10px;margin-left:20px;">
	<li>Use PHP5.2.2 or newer version</li>
	<li>Install PEAR [<a href="http://pear.php.net/package/Archive_Zip">Archive_Zip</a>]</li>
	<li>Set PEAR [<a href="http://pear.php.net/package/Archive_Zip">Archive_Zip</a>] on [common/lib]<br/>
		(If you have no permisson to install PEAR, please do this.)
	</li>
</ul>

<input type="button" value="Close" class="submit_button" onclick="common_close_layer(window.parent);return false;" />

</div soy:display="disable_zip">

<?php /* End content */ ?>
</body>
</html>