/*====================================
	tag-reset
====================================*/
html,body,h1,h2,h3,h4,h5,h6,
p,ul,ol,li,dl,dt,dd,table,address,blockquote,form {
	margin:0;
	padding:0;
	font-size:100%;
	}

/*====================================
	common-tag
====================================*/

body{
	font-family: Arial, Helvetica,"Hiragino Maru Gothic Pro",Osaka,"MS P Gothic",sans-serif;
	line-height:1.5;
	font-size:14px;
	*font-size:86%;/*IE*/
	color:#333;
	text-align:center;
	background-color:#999;
	}
ul{
	list-style:none;
	}
ul.list{
	list-style-type:disc !important;
}
ul.list li{
	border:none !important;
}
img{
	border:0;
	}

.require{
	color:#FF6600;
	}
.caution{
	color:#FF6600;
	}
.option{
	color:#666;
	font-weight:normal;
}
.pageBtn{
	text-align:center;
	margin-bottom:30px;
}
.leftBtn{
	text-align:left;
	margin-bottom:30px;
	margin-left:20px;
}
.rightBtn{
	text-align:right;
	margin-bottom:30px;
	margin-right:20px;
}
.pageBtn input[type="submit"],
.leftBtn input[type="submit"],
.rightBtn input[type="submit"]{
	width:100px;
	line-height:50px;
	font-size:large;
	pointer: cursor;
/*	border-style:solid;*/
}
a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #333333; }

input[type="text"],textarea,input.text, input.title, textarea, select{
	background-color:#FFFFFF;
	border:1px solid #bbb;
	}
input[type="text"]:focus,textarea:focus,input.text:focus, input.title:focus, textarea:focus, select:focus,
input[type="text"]:hover,textarea:hover,input.text:hover, input.title:hover, textarea:hover, select:hover {
	background-color:#fbf9d4;
	border:1px solid #666;
	}
/*
input[type="submit"]:hover,input[type="button"]:hover{
	background-color:#fbf9d4;
	border-style:outset;
	border-color: #666;
	}
input[type="submit"]:focus,input[type="button"]:focus{
	border-style:inset;
	border-color: #666;
	}
*/
input.text, input.title {padding:5px;width:300px;}
input.title {font-size:1.5em;width:570px;}
textarea{
	height:3em;
}
/*textarea:focus{
	height:6em;
	}*/
textarea.minieditor{
	height:6em;
}
/*textarea.minieditor:focus{
	height:12em;
	}*/
textarea.editor{
	height:300px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
 * classes
 */
.fr{ float:right !important; }
.fl{ float:left !important; }
.alL{ text-align:left; }
.alR{ text-align:right; }
.alC{ text-align:center; }
.mb{ margin-bottom:10px !important; }
.mb20{ margin-bottom:20px !important; }
.mb40{ margin-bottom:40px !important; }
.mr{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr40{margin-right:40px !important;}
.ml{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml40{margin-left:40px !important;}

/* message */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}


/*====================================
	layouts
====================================*/
#wrapper{
	width:100%;
	text-align:left;
	margin-right:auto;
	margin-left:auto;

	background-color:white;
	position:relative;
}

.w750{
	width:750px !important;
}

.w950{
	width:950px !important;
}

.layout_full{

}

.layout_column{

}

.layout_normal{

}


/*_______�@layout default�@_________*/

#sub,.layout_left #sub{
	width:230px;
	float:left;
	left:0;

	position:absolute;
}

#main,.layout_left #main{
	margin:0 30px 0 230px;
}

/*_______�@layout main_sub_right�@_________*/

.layout_right #sub{
	float:right;
	right:10px;
	left:auto;
}

.layout_right #main{
	margin:0 250px 0 20px;
}

/*_______�@layout full�@_________*/

.layout_full #sub{
	display:none;
}

.layout_full #main{
	margin:0 20px 0 20px;
}

 /*_______�@layout column�@_________*/

.layout_column #sub{
	position:relative;
	float:left;
	width:50%;
	padding:0;
	margin:0;
}

.layout_column #main{
	position:relative;
	float:right;
	width:50%;
	padding:0;
	margin:0;
}

/*====================================
	style header
====================================*/

#header{
	height:70px;
	padding-top:10px;
	background-color:black;
	background:url(./img/gray_header_bg.jpg) repeat-x;
}

#header img{
	vertical-align:middle;
	float:left;
	height:60px;
	padding-left:10px;
}

#header h1{
	margin-left:20px;
	font-size:2em;
	float:left;
	line-height:70px;
	width:800px;
	height:70px;
	overflow:hidden;
}


#header_menu{
	position:absolute;
	right:5px;
	top:0;
}
#header_menu ul{
	margin:0;
	padding:0;
}
#header_menu ul li{
	float:left;
	margin-left:10px;
}

/*====================================
	style footer
====================================*/

#footer{
	clear:both;
	margin-top:20px;
	padding-bottom:20px;
	margin-bottom:0;
	background:url(./img/gray_footer_bg.jpg) repeat-x;
}

#footer ul{
	width:33%;
	float:left;
	background:url(./img/gray_footer_sepa.jpg) no-repeat 100% 0;
	padding-top:20px;
	display:inline;
}

#footer li a{
	display:block;
	padding:10px;
	margin-bottom:5px;
	margin-right:20px;
	margin-left:20px;
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
}

#footer li a:hover{
	background-color:#ccc;
}

/*====================================
	style menu
====================================*/
#menu{
	background:url(./img/gray_menu_bg.jpg) repeat-x;
	padding:0 10px;
	font-size:1.2em;
}
#menu ul {
	background:url(./img/gray_menu_sepa.jpg) no-repeat 0 100%;
	margin-left:10px;
	}
#menu ul li{
	float:left;
	background:url(./img/gray_menu_sepa.jpg) no-repeat 100% 100%;
}
#menu ul li img{
	vertical-align:middle;
	margin-left:3px;
	}
#menu ul li a{
	display:block;
	line-height:2.3em;
	padding:0 30px;

	color:#ffffff;
	text-decoration:none;
}
#menu ul li a:hover{
	background:url(./img/gray_menu_bg_on.jpg) repeat-x;
	color:black;
}

#menu ul li ul{
	display:none;
}

#menu ul li:hover ul{
	display:block;
	position:absolute;
	z-index:100;
}

#menu ul li:hover ul{
	background:url(./img/gray_menu_bg.jpg) repeat;
	margin-left:0;
	}


/*====================================
	style sub
====================================*/
#sub{
	margin-top:10px;
}
#sub ul{
	margin:0 10px 0 10px;
	padding:0;

	background-color:#dbdbdb;
}

#sub li{
	display:block;
	margin: 0;
	padding: 0;
	border-bottom:1px solid #FFFFFF;
}
#sub li.current{
	background-color:#EEEEEE;
}
#sub li a{
	display:block;
	padding:8px 10px;
}
#sub li a:hover{
	background-color:#EEEEEE;
}

#sub h3{
	background:url(./img/gray_sub_h3_bg.jpg) repeat-x 0 100%;
	margin:10px 10px 0 10px;
	padding:0 5px 10px;
	font-size:1.3em;

	color:#333333;
}

/*====================================
	style main
====================================*/
#main{
	padding-top:20px;
}
#main h1{
	border:1px solid #CCCCCC;
	background:url(./img/gray_main_h1_bg.jpg) repeat-y;

	font-size:1.2em;
	font-weight:bold;
	padding:8px 0 5px 20px;
	margin-bottom:20px;
}

#main h1 .navi{
	display:block;
	font-size:0.7em;
	background-color:#d6d6d6;
	padding:3px 2px;
	margin-right:3px;
	margin-top:4px;
}

/*====================================
	style block
====================================*/
.block{
	margin-bottom:30px;
}
.block .toggle_link{
	background:url(./img/gray_caption_bg.jpg) no-repeat 0 50%;
	font-size: 1.1em;
    font-weight: bold;
    padding: 3px 0 3px 18px;
    text-align: left;
}
.block .block_title{
	background:url(./img/gray_main_h2_bg.jpg) repeat-x;
	color:#white;

	height:40px;
	line-height:40px;
	margin:0;

	border-radius:5px 5px 0 0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	-opera-border-radius:5px 5px 0 0;
}

.block .block_title h2{
	margin-left:10px;
	float:left;
	font-size:medium;

	color:white;
}

.block .block_title a{
	color:white;
}

.block .block_title .block_title_right{
	float:right;
	margin-right:4px;
}
.block .block_title .block_title_right img{
	vertical-align:middle;
	}


.block .block_body{
	border:solid 1px #999;
	padding:10px 10px 0;
}
.block .block_body h3{
	padding:3px 0 3px 18px;
	background:url(./img/gray_caption_bg.jpg) no-repeat 0 50%;
	text-align:left;
	font-weight:bold;
	font-size:1.1em;
	margin-left:2.5%;
	}

.block .block_body h4{
	background:url(./img/gray_h4_bg.jpg) no-repeat 0 5px;
	padding-left:12px;
	}

.block .block_body textarea{
	width:94%;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	}

/*______.section____________*/

.block .block_body .section{
	border:1px solid #999999;
	width:95%;
	margin:0px auto 20px;
	position:relative;
}

.block .block_body .section .left{
	padding:5px 0;
	background-color:#eee;
	float:left;
	width:25%;
	overflow:auto;

	box-shadow: 1px 0px 3px #999;
	-webkit-box-shadow: 1px 0px 3px #999;
	-moz-box-shadow: 1px 0px 3px #999;
}

.block .block_body .section .right{
	padding:5px 6px;
	float:right;
	width:73%;
}

/*_______�@dl�@_________*/

.block .block_body dl{
	width:95%;
	margin:0 auto 15px;
	}
.block .block_body dl dt{
	margin-bottom:3px;
	background:url(./img/gray_dt_bg.jpg) no-repeat 0 4px;
	padding-left:15px;
	}
.block .block_body dl dd{
	padding:5px;
	border-left:10px solid #999999;
	margin-bottom:20px;
	}
.block .block_body dl dd input{
	font-size:1.2em;
	padding:3px;
	margin-bottom:5px;
	margin-top:5px;
	}
.block .block_body dl dd input.submit:hover{
	font-size:1.2em;
	padding:3px;
	margin-bottom:5px;
	margin-top:5px;
	background-color:#999999;
	color:#FFFFFF;
	cursor:pointer;
	}
.block .block_body dl.form dt{
	}
.block .block_body dl.form_2col dt{
	float:left;
	width:23%;
	margin-right:2%;
	}
.block .block_body dl.form_2col dd{
	float:left;
	width:70%;
	}


/*_______�@table�@_________*/

.block a.button{
	background:url(./img/btn_bg.jpg) repeat-x;
	border:1px solid #999999;
	padding:1px 5px;
	margin-right:4px;
	color:#666666;
	text-decoration:none;
	display:inline-block;
	line-height:17px;

	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-opera-border-radius:5px;
	}
.block a.button:hover{
	background:url(./img/btn_bg_on.jpg) repeat-x;
	color:#FFFFFF;
	cursor: pointer;
	}

.block input[type="text"] + a.button{
	margin-top:9px;
	vertical-align:top;
}

.block table{
	width:95%;
	margin:0px auto 20px;
	border-collapse:collapse;
	}
.block table.form_list{
	border:1px solid #999999;
	}
.block table.form_list th,
.block table.form_list td{
	border:1px solid #999999;
	padding:4px;
	}
.block table.form_list th{
	background-color:#d6d6d6;
	}
.block table.form_list .odd{
	background-color:#EEEEEE;
	}
/*
.block table.form_list caption{
	padding:3px 0 3px 15px;
	background:url(./img/gray_caption_bg.jpg) no-repeat 0 50%;

	border-radius:5px 5px 0 0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	-opera-border-radius:5px 5px 0 0;

	text-align:left;
	font-weight:bold;
	color:#FFFFFF;
	}
*/
.block table.form_list caption{
	padding:3px 0 3px 18px;
	background:url(./img/gray_caption_bg.jpg) no-repeat 0 50%;
	text-align:left;
	font-weight:bold;
	font-size:1.1em;
	}

.block table.form_table{
	border:1px solid #999999;
	}
.block table.form_table th,
.block table.form_table td{
	border:1px solid #999999;
	padding:4px;
	}
.block table.form_table th{
	background-color:#d6d6d6;
	}
.block table.form_table caption{
	padding:3px 0 3px 18px;
	background:url(./img/gray_caption_bg.jpg) no-repeat 0 50%;
	text-align:left;
	font-weight:bold;
	font-size:1.1em;
	}
.block table.form_search th{
	width:20%;
}

/* popup */
.popup{
	position:absolute;

	border:solid 1px #999;
	padding:15px 10px 10px;

	min-width:300px;
	min-height:150px;

	background:#ffffff url(./img/gray_main_h1_bg.jpg) repeat-x;

	border-radius:5px 5px 0 0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius:5px 5px 0 0;
	-opera-border-radius:5px 5px 0 0;

	box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
}

.popup .close{
	background:url(./img/btn_close.jpg) repeat-x;
	width:13px;
	height:13px;

	position:absolute;
	bottom:4px;
	right:4px;

	cursor:pointer;
	zoom:1;

	margin:0;
}

.popup p{
	margin:10px 0;
}
