<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">編集</div>
			<div class="panel-body">
				<div class="alert alert-success" soy:display="updated">更新しました</div>
				<div class="alert alert-danger" soy:display="invalid">モジュール名に?{}|&amp;~!()^"を含めることができません。</div>
				<form soy:id="update_form">
					<div class="form-group">
						<label for="">モジュール名</label>
						<input type="text" class="form-control" soy:id="module_name" />
						<small>モジュール名で?{}|&amp;~!()^"は使用できません</small>
					</div>

					<div class="table-responsive">
						<table class="table table-striped">
							<caption soy:id="module_id">モジュール</caption>
							<tr>
								<td>
									<div id="editor" style="height: 400px" soy:id="module_content_ace"></div>
									<textarea name="config[content]" style="display:none;"></textarea>
								</td>
							</tr>
						</table>
					</div>

					<div class="text-center">
						<button class="btn btn-primary btn-lg" id="save_btn">保存</button>
					</div>
				</form>

				<div class="table-responsive">
					<table class="table table-striped">
						<caption style="cursor:pointer;" onclick="$('#example').toggle();">テンプレート記述例を表示</caption>
						<tr id="example" style="display:none;">
							<td>
								<textarea id="module_example" soy:id="module_example" class="form-control"></textarea>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
#module_editor{
	height:400px;
}
#module_example{
	height:100px;
}
</style>
<script soy:id="ace_editor"></script>
<script>
var editor = ace.edit("editor");
editor.setFontSize(16);
editor.session.setUseSoftTabs(false);
editor.getSession().setMode("ace/mode/php");

$("#save_btn").on("click", function(){
	save();
});

// ctrl + sで保存
(function(){
	$(window).on("keydown", function(ele){
		var code = (ele.keyCode ? ele.keyCode : ele.which);
	    // 上記コードはブラウザによってキーコードを取得するプロパティが異なる問題をかいけつするものです。

	    if (!(code == 83 && ele.ctrlKey)) return true;
	    // code 83 は　Sです。
	　　
	    ele.preventDefault();
	    // ctrl+S に割り当てられているデフォルトの機能を無効化します。

		save();
	    return false;
	});
})();

function save(){
	$('textarea[name="config[content]"]').val(editor.getValue());
	$("#form").submit();
}
</script>
