<h3>Make a new template pack(1/5)</h3>
<p>Enter templatepack ID, title, and type.</p>

<div class="section">
<p class="sub">ID
	<img soy:message="TEMPLATE_ID">
</p>
<input type="text" soy:id="template_id">
</div>

<div class="section">
<p class="sub">Title
	<img soy:message="TEMPLATE_NAME">
</p>
<input type="text" soy:id="template_name">
</div>

<div class="section">
<p class="sub">Type
	<img soy:message="TEMPLATE_TYPE">
</p>

<input type="checkbox" soy:id="template_type_normal">
<input type="checkbox" soy:id="template_type_blog">
</div>

<div class="section">
<p class="sub">Description
	<img soy:message="TEMPLATE_DESCRIPTION">
</p>
<textarea soy:id="template_description" cols="60" rows="8"></textarea>
</div>