<h3>Make a new template pack(2/5)</h3>
<p>If you want a brandnew web page template oack, please check [Create New Template].If you want to make template pack from webpage setting, please check [Import from webpage].</p>

<div class="section">
<p class="sub">Title
	<img soy:message="TEMPLATE_FILE_NAME">	
</p>
<input soy:id="name" />
</div>

<div class="section">

<div class="inline">
	<input soy:id="import" /><img soy:message="TEMPLATE_FILE_IMPORT"/>
	<select soy:id="page_list" style="margin-left:15px;">
		<option value="">------</option>
	</select soy:id="page_list">
</div>

<div>
	<input soy:id="create" /><img soy:message="TEMPLATE_FILE_CREATE"/>
</div>

</div>




