/*====================================
	tag-reset
====================================*/
html,body,h1,h2,h3,h4,h5,h6,
p,ul,ol,li,dl,dt,dd,table,address,blockquote,form {
	margin:0;
	padding:0;
	font-size:100%;
	}

/*====================================
	common-tag
====================================*/

body{
	font-family: Arial, Helvetica,"ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
	line-height:1.5;
	font-size:14px;
	*font-size:86%;/*IE*/
	color:#333;
	text-align:center;
	background:url(shop/bg.jpg) repeat-x;
	}
ul{
	list-style:none;
	}
a{
	color:#778F2D;
	text-decoration:underline;
	}
a:hover{
	color:#ffffff;
	background-color:#778F2D;
	text-decoration:none;
	}
img{
	border:0;
	}
.clear{
	clear:both;
	}
p.flL{
	float:left;
	}
p.alR{
	text-align:right;
	}
p.alC{
	text-align:center;
	}

/*====================================
	layouts
====================================*/
div#container{
	width:800px;
	margin:0 auto;
	text-align:left;
	}

div#header{
	width:800px;
	margin-bottom:10px;
	}

div#side{
	width:200px;
	float:right;
	margin-left:30px;
	margin-bottom:20px;
	}
div#main{
	width:570px;
	float:right;
	margin-bottom:20px;
	}

/*====================================
	common
====================================*/

h3{
 	margin-bottom:10px;
 	}
.price{
	background:#EAEAEA url(shop/icon_yen.jpg) no-repeat 0 0;
	padding-left:25px;
	}

/*------------------------------------
	header
------------------------------------*/
div#header div#headnavi{
	color:#FFFFFF;
	height:21px;
	}
div#header div#headnavi h1{
	float:left;
	}
div#header div#headnavi ul{
	float:right;
	}
div#header div#headnavi ul li{
	display:inline;
	background:url(shop/icon_subnavi.jpg) no-repeat 0 3px;
	padding-left:10px;
	margin-left:20px;
	}
div#header div#headnavi ul li a{
	color:#FFFFFF;
	text-decoration:none;
	}
div#header div#headnavi ul li a:hover{
	color:#cccccc;
	background:none;
	}


div#header div#headbody h2{
	float:left;
	height:77px;
	}
div#header div#headbody p{
	float:right;
	margin-top:25px;
	}

div#header div#Gnavi{
	background:url(shop/navi_bg.jpg) no-repeat 0 0;
	height:53px;
	}
div#header div#Gnavi ul li{
	background:url(shop/navi_separate.jpg) no-repeat 100% 10px;
	padding:15px 20px 10px 20px;
	float:left;
	}
div#header div#Gnavi ul li a{
	color:#FFFFFF;
	text-decoration:none;
	}
div#header div#Gnavi ul li a:hover{
	color:#999999;
	background:none;
	}



/*------------------------------------
	side
------------------------------------*/
div#side div.indent p,
div#side div.indent ul,
div#side div.indent dl{
	margin:0 10px 10px 10px;
	}

/*= sideBox:無地 =*/
div#side div.sideBox{
	background:url(shop/sideBox_bg.jpg) repeat-y;
	margin-bottom:10px;
	}
div#side div.sideBox div.indent{
	background:url(shop/sideBox_bg_btm.jpg) no-repeat 0 100%;
	padding-bottom:10px;
	}

/*= sideBox2:中白 =*/
div#side div.sideBox2{
	background:url(shop/sideBox2_bg.jpg) repeat-y;
	margin-bottom:10px;
	}
div#side div.sideBox2 div.indent{
	background:url(shop/sideBox2_bg_btm.jpg) no-repeat 0 100%;
	padding-bottom:10px;
	}

/*= sideCart:カート =*/
div#side div.sideCart{
	background:url(shop/sideCart_bg.jpg) repeat-y;
	margin-bottom:10px;
	}
div#side div.sideCart div.indent{
	background:url(shop/sideCart_bg_btm.jpg) no-repeat 0 100%;
	padding-bottom:10px;
	}


/*_______ search _________*/

div#side div#search{
	text-align:center;
	}
div#side div#search p{
	margin:0 15px 0 15px;
	}
div#side div#search input[type="text"]{
	width:100%;
	}

/*_______ login _________*/

div#side div#login{
	}
div#side div#login p{
	margin:0 15px 0 15px;
	}
div#side div#login p.center{
	text-align:center;
	}
div#side div#login input[type="text"]{
	width:100%;
	}
div#side div#login input[type="password"]{
	width:100%;
	}

/*_______ mypage _________*/

div#side div#mypage ul li{
	background:url(shop/icon_side_category.jpg) no-repeat 0 3px;
	margin-bottom:5px;
	padding-left:20px;
	height:26px;
	}
div#side div#mypage ul li a{
	color:#FFFFFF;
	}
div#side div#mypage ul li a:hover{
	color:#cccccc;
	background:none;
	}

/*_______ cart _________*/

div#side div#cart dl{
	margin-left:20px;
	}
div#side div#cart dl dt{
	background:url(shop/icon_side_cart.jpg) no-repeat 0 5px;
	padding-left:8px;
	}
div#side div#cart dl dd{
	color:#999999;
	text-align:right;
	}
div#side div#cart ul.sum{
	background-color:#EAEAEA;
	padding:5px 0;
	text-align:right;
	}


/*_______ category _________*/

div#side div#category ul li{
	background:url(shop/icon_side_category.jpg) no-repeat 0 3px;
	margin-bottom:5px;
	padding-left:20px;
	height:26px;
	}
div#side div#category ul li a{
	color:#FFFFFF;
	}
div#side div#category ul li a:hover{
	color:#cccccc;
	background:none;
	}

/*_______ calendar _________*/

div#side div#calendar{
	text-align:center;
	}

div#side div#calendar table{
	margin:0 auto 5px auto;
	background-color:#FFFFFF;
	border:1px solid #999999;
	border-collapse:collapse;
	}
div#side div#calendar table th,
div#side div#calendar table td{
	border:1px solid #999999;
	padding:0 3px;
	text-align:center;
	}

/*= 土曜日の色=*/
div#side div#calendar table th.sat,
div#side div#calendar table td.sat{
	color:#0000FF;
	}

/*= 日曜日の色=*/
div#side div#calendar table th.sun,
div#side div#calendar table td.sun{
	color:#990000;
	}
	
/*= 本日の色 =*/
div#side div#calendar table td.today{
	background-color:#FEFEFE;
	}

/*= 定休日の背景色=*/
div#side div#calendar table th.close,
div#side div#calendar table td.close{
	background-color:#FFCCCC;
	}

/*_______ ranking _________*/

div#side div#ranking dl{
	padding-left:30px;
	margin-left:15px;
	}
div#side div#ranking dl.rank1{
	background:url(shop/side_ranking_1.jpg) no-repeat 0 0;
	}
div#side div#ranking dl.rank2{
	background:url(shop/side_ranking_2.jpg) no-repeat 0 0;
	}
div#side div#ranking dl.rank3{
	background:url(shop/side_ranking_3.jpg) no-repeat 0 0;
	}






/*------------------------------------
	main
------------------------------------*/

div#main h3.title{
	background:url(shop/h3_bg.jpg) no-repeat 0 0;
	padding:15px 0 15px 30px;
	color:#FFFFFF;
	font-size:120%;
	}

div#main p{
	margin-bottom:10px;
	}

div#main div.indent{
	margin:0 20px;
	}

div#main p.cart_btn{
	text-align:center;
	}


/*_______ #page _________*/
div#main div#page{
	text-align:left;
	}

div#main div#page h3{
	background:url(shop/pagetitle_h3.jpg) no-repeat 0 0;
	padding:8px 0 8px 10px;
	color:#7E923F;
	font-size:1.4em;
	}
div#main div#page h4{
	color:#FF6600;
	border-bottom:1px solid #FF6600;
	font-size:120%;
	margin-bottom:10px;
	}


/*------------------------------------
	footer
------------------------------------*/
div#footer div#footnavi{
	background-color:#E4E9D5;
	padding:15px 0;
	}

div#footer div#footnavi ul{
margin-bottom:5px;
	}
div#footer div#footnavi ul li{
	border-right:1px solid #666666;
	padding:0 10px;
	display:inline;
	}

div#footer address{
	font-style:normal;
	font-size:85%;
	background:#ffffff url(shop/address_bg.jpg) repeat-x;
	padding-top:15px;
	}

/*====================================
	pages
====================================*/
/*------------------------------------
	top
------------------------------------*/


/*_______ recommend _________*/

div#main div.recommend{
	margin-bottom:20px;
	}
div#main div.recommend p img{
	float:left;
	width:150px;
	margin:0 10px 10px 0;
	}
div#main div.recommend dl{
	float:left;
	width:370px;
	}
div#main div.recommend dl dt{
	font-weight:bold;
	}

/*_______ news _________*/

div#main dl#news dt{
	float:left;
	width:80px;
	margin-right:20px;
	}

div#main dl#news dd{
	float:left;
	width:430px;
	}

/*------------------------------------
	list
------------------------------------*/

div#main div#item{
	margin-left:20px;
	}

/*_______ itemlist _________*/

div#main div.itemlist{
	width:150px;
	float:left;
	margin-right:30px;
	height:240px;
	display:inline;
	}

div#main div.itemlist dl{
	margin-bottom:5px;
	}



/*_______ pager _________*/

div#main div#pager{
	border:1px solid #CCCCCC;
	text-align:center;
	clear:both;
	padding:5px 0;
	margin-bottom:20px;
	}

div#main div#pager img{
	margin:0 20px;
	}
div#main div#pager a:hover{
	background:none;
	}

/*------------------------------------
	detail
------------------------------------*/
div#main p#pankuzu{
	background:url(shop/pankuzu_bg.jpg) repeat-x 0 100%;
	padding-bottom:8px;
	}

/*_______ itemdetail _________*/

div#main div#itemdetail{
	margin-bottom:20px;
	}

div#main div#itemdetail h3{
	font-size:150%;
	}

div#main div#itemdetail h4{
	color:#FF6600;
	border-bottom:1px solid #FF6600;
	font-size:120%;
	margin-bottom:10px;
	}

div#main div#itemdetail .price{
	font-size:120%;
	}
div#main div#itemdetail table{
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	margin:0 auto 10px auto;
	}
div#main div#itemdetail table th,
div#main div#itemdetail table td{
	border:1px solid #CCCCCC;
	padding:3px 5px;
	}

div#main div#itemdetail table th{
	background-color:#EBEBEB;
	}




/*====================================
	clearfix
====================================*/

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}

.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
	}

.clearfix { display: block;/* for Mac IE */
	}
