<table class="table table-striped">
	<caption>子商品一覧</caption>
	<thead>
		<tr>
			<th>商品名</th>
			<th>価格</th>
			<th>在庫</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<!-- soy:id="child_list" -->
		<tr>
			<td soy:id="item_name">ダイズ</td>
			<td><!-- soy:id="item_price" -->1000<!-- /soy:id="item_price" --></td>
			<td soy:id="item_stock"></td>
			<td class="operation">
				<span class="add_button"><a href="javascript:void(0);" id="add_<!-- soy:id="index" /-->" class="btn btn-primary btn-sm" onclick="addItem('<!-- soy:id="item_code*" /-->');">追加</a></span>
				<span class="change_button"><a href="javascript:void(0);" class="btn btn-warning btn-sm" onclick="changeItem(<!-- soy:id="iframe_index" /-->, '<!-- soy:id="item_code*" /-->');">変更</a></span>
			</td>
		</tr>
		<!-- /soy:id="child_list" -->
	</tbody>
</table>
