<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				編集
				<!-- soy:display="custom_template" -->
				<small class="pull-right">
					<a soy:id="page_link" class="btn btn-default btn-xs">ページ詳細</a>
				</small>
				<!-- /soy:display="custom_template" -->
			</div>

			<div class="panel-body">
				<div class="alert alert-success" soy:display="updated">更新しました</div>
				<div class="alert alert-success" soy:display="success">実行しました</div>

				<form soy:id="update_form" id="main_form">
					<div class="form-group">
						<label for="">テンプレート名</label>
						<input class="form-control" type="text" soy:id="template_name_input" />&nbsp;&nbsp;&nbsp;
						<a soy:id="copy_template" class="btn btn-default">フォームの外出し</a>
					</div>

					<div class="table-responsive">
						<table class="table table-striped">
							<caption><!-- soy:id="template_path" /-->&nbsp;<a soy:id="save_template_button" class="btn btn-default btn-sm">テンプレートの保存</a></caption>
							<tr>
								<td>
									<div id="editor" style="height: 600px" soy:id="template_content_ace"></div>
									<textarea name="template_content" style="display:none;" id="template_editor"></textarea>
								</td>
							</tr>
						</table>
					</div>

					<div class="text-center">
						<button class="btn btn-primary btn-lg" id="save_btn">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- soy:display="show_tag_sample_list" -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">使用できるタグ</div>
			<div class="panel-body">
				<!-- soy:id="tag_sample_list" -->
				<h4><a soy:id="tag_link" class="toggle_link">block:id="hogehoge"</a></h4>
				<div soy:id="sample_area">
					<!-- soy:id="tag" /-->
					<!-- soy:id="sample" /-->
				</div>
				<!-- /soy:id="tag_sample_list" -->
			</div>
		</div>
	</div>
</div>
<!-- /soy:display="show_tag_sample_list" -->
<script src="./js/tools/template_editor.js"></script>
<script soy:id="ace_editor"></script>
<script>
var editor = ace.edit("editor");
editor.setFontSize(16);
editor.session.setUseSoftTabs(false);
editor.getSession().setMode("ace/mode/html");

$("#save_btn").on("click", function(){
	save();
});

// ctrl + sで保存
(function(){
	$(window).on("keydown", function(ele){
		var code = (ele.keyCode ? ele.keyCode : ele.which);
	    // 上記コードはブラウザによってキーコードを取得するプロパティが異なる問題をかいけつするものです。

	    if (!(code == 83 && ele.ctrlKey)) return true;
	    // code 83 は　Sです。
	　　
	    ele.preventDefault();
	    // ctrl+S に割り当てられているデフォルトの機能を無効化します。

		save();
	    return false;
	});
})();

function save_ajax(url, ele){
	$('textarea[name="template_content"]').val(editor.getValue());
	save_template(url, ele);
}

function save(){
	$('textarea[name="template_content"]').val(editor.getValue());
	$("#main_form").submit();
}
</script>
