<h2><!-- soy:id="template_name" /--> - テンプレート編集</h2>
<nav>
	<ol class="breadcrumb">
		<li><a soy:link="Site">サイト管理</a></li>
		<li><a soy:link="Site.Template">テンプレート管理</a></li>
		<li class="active">テンプレート編集</li>
	</ol>
</nav>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				編集
				<!-- soy:display="custom_template" -->
				<small class="pull-right">
					<a soy:id="page_link" class="btn btn-default btn-xs">ページ詳細</a>
				</small>
				<!-- /soy:display="custom_template" -->
			</div>

			<div class="panel-body">
				<div class="alert alert-success" soy:display="updated">更新しました</div>
				<div class="alert alert-success" soy:display="success">実行しました</div>

				<form soy:id="update_form" id="main_form">
					<div class="form-group">
						<label for="">テンプレート名</label>
						<input class="form-control" type="text" soy:id="template_name_input" />&nbsp;&nbsp;&nbsp;
						<a soy:id="copy_template" class="btn btn-default">フォームの外出し</a>
					</div>

					<div class="table-responsive">
						<table class="table table-striped">
							<caption><!-- soy:id="template_path" /-->&nbsp;<a soy:id="save_template_button" class="btn btn-default btn-sm">テンプレートの保存</a></caption>
							<tr>
								<td>
									<textarea id="template_editor" class="editor form-control" soy:id="template_content"></textarea>
								</td>
							</tr>
						</table>
					</div>

					<div class="text-center">
						<input type="submit" class="btn btn-primary btn-lg" value="保存">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- soy:display="show_tag_sample_list" -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">使用できるタグ</div>
			<div class="panel-body">
				<!-- soy:id="tag_sample_list" -->
				<h4><a soy:id="tag_link" class="toggle_link">block:id="hogehoge"</a></h4>
				<div soy:id="sample_area">
					<!-- soy:id="tag" /-->
					<!-- soy:id="sample" /-->
				</div>
				<!-- /soy:id="tag_sample_list" -->
			</div>
		</div>
	</div>
</div>
<!-- /soy:display="show_tag_sample_list" -->

<style type="text/css">
#template_editor{
	height:600px;
}
</style>

<script src="./js/tools/template_editor.js"></script>
