<!-- soy:id="template_carrier_list" -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				テンプレート一覧<!-- soy:id="carrier" /-->
				<small class="pull-right">
					<a soy:id="create_template_link" class="btn btn-primary btn-xs">テンプレートの追加</a>
				</small>
			</div>
			<div class="panel-body">
				<!-- soy:id="template_category_list" -->
				<div class="table-responsive">
					<table class="table table-striped">
					<caption><!-- soy:id="template_type" /-->テンプレート一覧</caption>
						<tr>
							<th class="col-lg-6">名前</th>
							<th class="col-lg-4">種類</th>
							<th class="col-lg-2">
								操作&nbsp;
								<a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="$(this).hide();$('.delete_btn').css('visibility','visible');">削除</a>
							</th>
						</tr>
						<!-- soy:id="template_list" -->
						<tr>
							<td soy:id="name">あああああ</td>
							<td class="column3" soy:id="type">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>

								<!--
								<a href="#" class="btn btn-default">ページ一覧</a>
								-->
								<a soy:id="remove_link" href="#" class="btn btn-danger delete_btn" onclick="return confirm('削除してもよろしいですか？')">削除</a>
							</td>
						</tr>
						<!-- /soy:id="template_list" -->
						<tfoot>
							<tr>
								<td colspan="3" class="text-right">
									<a soy:id="create_link" class="btn btn-primary">テンプレートの追加</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /soy:id="template_category_list" -->
			</div>
		</div>
	</div>
</div>
<!-- /soy:id="template_carrier_list" -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				アプリケーションページテンプレート一覧
				<small class="pull-right" soy:display="show_app_tmp_link">
					<a soy:link="Site.Template.Application" class="btn btn-primary btn-xs">アプリケーションテンプレート</a>
				</small>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>カートテンプレート一覧</caption>
						<tr>
							<th class="col-lg-6">名前</th>
							<th class="col-lg-4">カートID</th>
							<th class="col-lg-2">操作</th>
						</tr>
						<!-- soy:id="cart_template_list" -->
						<tr>
							<td soy:id="name">あああああ</td>
							<td class="column3" soy:id="type">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>
							</td>
						</tr>
						<!-- /soy:id="cart_template_list" -->
					</table>
				</div>

				<div class="table-responsive">
					<table class="table table-striped">
						<caption>マイページテンプレート一覧</caption>
						<tr>
							<th class="col-lg-6">名前</th>
							<th class="col-lg-4">マイページID</th>
							<th class="col-lg-2">操作</th>
						</tr>
						<!-- soy:id="mypage_template_list" -->
						<tr>
							<td soy:id="name">あああああ</td>
							<td class="column3" soy:id="type">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>
							</td>
						</tr>
						<!-- /soy:id="mypage_template_list" -->
					</table>
				</div>

				<h4>ページのテンプレート</h4>
				<div class="alert alert-info" soy:display="custom_template_list_empty">個別設定されているページはありません</div>

				<!-- soy:display="custom_template_list_exists" -->
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th class="col-lg-4">名前</th>
							<th class="col-lg-4">URL</th>
							<th class="col-lg-2">種類</th>
							<th class="col-lg-6">操作</th>
						</tr>
						<!-- soy:id="custom_template_list" -->
						<tr>
							<td soy:id="name">あああああ</td>
							<td soy:id="url">あああああ</td>
							<td soy:id="type">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>
							</td>
						</tr>
						<!-- /soy:id="custom_template_list" -->
					</table>
				</div>
				<!-- /soy:display="custom_template_list_exists" -->
			</div>
		</div>
	</div>
</div>

<!-- soy:display="allow_php_module" -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				モジュール一覧
				<small class="pull-right">
					<a soy:link="Site.Template.Module.Create" class="btn btn-primary btn-xs">モジュールの追加</a>
				</small>
			</div>

			<a name="module_list"></a>

			<div class="panel-body">
				<div soy:display="module_list_empty" class="alert alert-info">モジュールはありません</div>

				<!-- soy:display="module_list_exists" -->
				<table class="table table-striped">
					<caption>モジュール一覧</caption>
					<tr>
						<th class="col-lg-10">名前(モジュールID)</th>
						<th class="col-lg-2">
							操作&nbsp;
							<a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="$(this).hide();$('.module_delete_btn').css('visibility','visible');">削除</a>
						</th>
					</tr>
					<!-- soy:id="module_list" -->
					<tr>
						<td soy:id="name">あああああ</td>
						<td>
							<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>&nbsp;
							<a soy:id="remove_link" href="#" class="btn btn-danger module_delete_btn" onclick="return confirm('削除してもよろしいですか？')">削除</a>
						</td>
					</tr>
					<!-- /soy:id="module_list" -->
				</table>
				<!-- /soy:display="module_list_exists" -->
			</div>
		</div>
	</div>
</div>
<!-- /soy:display="allow_php_module" -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">HTMLモジュール一覧
				<small class="pull-right">
					<a soy:link="Site.Template.Module.html.Create" class="btn btn-primary btn-xs">HTMLモジュールの追加</a>
				</small>
			</div>

			<a name="html_module_list"></a>

			<div class="panel-body">
				<div soy:display="html_module_list_empty" class="alert alert-info">モジュールはありません</div>

				<!-- soy:display="html_module_list_exists" -->
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>モジュール一覧</caption>
						<tr>
							<th class="col-lg-10">名前(モジュールID)</th>
							<th class="col-lg-2">
								操作&nbsp;
								<a class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$(this).hide();$('.html_module_delete_btn').css('visibility','visible');">削除</a>
							</th>
						</tr>
						<!-- soy:id="html_module_list" -->
						<tr>
							<td soy:id="name">あああああ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>&nbsp;
								<a soy:id="remove_link" href="#" class="btn btn-danger html_module_delete_btn" onclick="return confirm('削除してもよろしいですか？')">削除</a>
							</td>
						</tr>
						<!-- /soy:id="html_module_list" -->
					</table>
				</div>
				<!-- /soy:display="html_module_list_exists" -->
			</div>
		</div>
	</div>
</div>

<style type="text/css">
.delete_btn{
	visibility:hidden;
}
.module_delete_btn{
	visibility:hidden;
}
.html_module_delete_btn{
	visibility:hidden;
}
</style>
