<h1>
	テンプレート管理
	<span class="navi">
		<a soy:link="Site">サイト管理</a> &gt; <a soy:link="Site.Template">テンプレート管理</a> &gt; 顧客入力項目一覧</span>
</h1>


<div class="block">
	<div class="block_title">
		<h2>顧客入力項目一覧</h2>
	</div>

	<div class="block_body">

		<table class="form_list">
			<caption>基本項目</caption>
			<tr>
				<th>項目名</th>
				<th>真打ち</th>
				<th>カート<br/>入力</th>
				<th>カート<br/>確認(テ)</th>
				<th>マイページ<br/>入力</th>
				<th>マイページ<br/>確認(テ)</th>
			</tr>
			<tr>
				<td></td><!-- 項目名 -->
				<td></td><!-- 真打 -->
				<td></td><!-- カート 入力 -->
				<td></td><!-- カート 確認 -->
				<td></td><!-- マイページ 入力 -->
				<td></td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>お名前</td><!-- 項目名 -->
				<td>name</td><!-- 真打 -->
				<td>name</td><!-- カート 入力 -->
				<td>name</td><!-- カート 確認 -->
				<td>user_name</td><!-- マイページ 入力 -->
				<td>user_name_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>お名前カナ</td><!-- 項目名 -->
				<td>reading</td><!-- 真打 -->
				<td>furigana</td><!-- カート 入力 -->
				<td>furigana</td><!-- カート 確認 -->
				<td>user_furigana</td><!-- マイページ 入力 -->
				<td>user_furigana_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>ニックネーム</td><!-- 項目名 -->
				<td>nickname</td><!-- 真打 -->
				<td>-</td><!-- カート 入力 -->
				<td>-</td><!-- カート 確認 -->
				<td>user_nickname</td><!-- マイページ 入力 -->
				<td>user_nickname_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>メールアドレス</td><!-- 項目名 -->
				<td>mail_address</td><!-- 真打 -->
				<td>mail_address</td><!-- カート 入力 -->
				<td>mail_address</td><!-- カート 確認 -->
				<td>user_mail_address</td><!-- マイページ 入力 -->
				<td>user_mail_address_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>パスワード</td><!-- 項目名 -->
				<td>password</td><!-- 真打 -->
				<td>password</td><!-- カート 入力 -->
				<td>password</td><!-- カート 確認 -->
				<td>password</td><!-- マイページ 入力 -->
				<td>password_text</td><!-- マイページ 確認 -->
			</tr>
		</table>
		<table class="form_list">
			<caption>連絡先</caption>
			<tr>
				<th>項目名</th>
				<th>真打ち</th>
				<th>カート<br/>入力</th>
				<th>カート<br/>確認(テ)</th>
				<th>マイページ<br/>入力</th>
				<th>マイページ<br/>確認(テ)</th>
			</tr>
			<tr>
				<td>郵便番号</td><!-- 項目名 -->
				<td>zip_code</td><!-- 真打 -->
				<td>post_number</td><!-- カート 入力 -->
				<td>post_number</td><!-- カート 確認 -->
				<td>user_post_number</td><!-- マイページ 入力 -->
				<td>user_post_number_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>都道府県</td><!-- 項目名 -->
				<td>area</td><!-- 真打 -->
				<td>area</td><!-- カート 入力 -->
				<td>area</td><!-- カート 確認 -->
				<td>user_area</td><!-- マイページ 入力 -->
				<td>user_area_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>市区群</td><!-- 項目名 -->
				<td>address1</td><!-- 真打 -->
				<td>address1</td><!-- カート 入力 -->
				<td>address1</td><!-- カート 確認 -->
				<td>user_address1</td><!-- マイページ 入力 -->
				<td>user_address1_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>町番地</td><!-- 項目名 -->
				<td>address2</td><!-- 真打 -->
				<td>address2</td><!-- カート 入力 -->
				<td>address2</td><!-- カート 確認 -->
				<td>user_address2</td><!-- マイページ 入力 -->
				<td>user_address2_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>電話番号</td><!-- 項目名 -->
				<td>tel_number</td><!-- 真打 -->
				<td>tel_number</td><!-- カート 入力 -->
				<td>tel_number</td><!-- カート 確認 -->
				<td>user_tel_number</td><!-- マイページ 入力 -->
				<td>user_tel_number_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>性別 男性</td><!-- 項目名 -->
				<td>
					gender_male<br />
					(テ:性別で gender_text)
				</td><!-- 真打 -->
				<td>
					gender_male<br />
					(テ:性別で gender_text)
				</td><!-- カート 入力 -->
				<td>gender</td><!-- カート 確認 -->
				<td>gender_male</td><!-- マイページ 入力 -->
				<td>gender_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>性別 女性</td><!-- 項目名 -->
				<td>gender_female</td><!-- 真打 -->
				<td>gender_female</td><!-- カート 入力 -->
				<td>gender</td><!-- カート 確認 -->
				<td>gender_female</td><!-- マイページ 入力 -->
				<td>gender_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>生年月日 年</td><!-- 項目名 -->
				<td>birth_year</td><!-- 真打 -->
				<td>birth_year</td><!-- カート 入力 -->
				<td>birthday(年月日)</td><!-- カート 確認 -->
				<td>birth_year</td><!-- マイページ 入力 -->
				<td>birth_year_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>生年月日 月</td><!-- 項目名 -->
				<td>birth_month</td><!-- 真打 -->
				<td>birth_month</td><!-- カート 入力 -->
				<td>birthday(年月日)</td><!-- カート 確認 -->
				<td>birth_month</td><!-- マイページ 入力 -->
				<td>birth_month_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>生年月日 日</td><!-- 項目名 -->
				<td>birth_day</td><!-- 真打 -->
				<td>birth_day</td><!-- カート 入力 -->
				<td>birthday(年月日)</td><!-- カート 確認 -->
				<td>birth_day</td><!-- マイページ 入力 -->
				<td>birth_day_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>FAX番号</td><!-- 項目名 -->
				<td>fax_number</td><!-- 真打 -->
				<td>fax_number</td><!-- カート 入力 -->
				<td>fax_number</td><!-- カート 確認 -->
				<td>user_fax_number</td><!-- マイページ 入力 -->
				<td>user_fax_number_text</td><!-- マイページ 確認 -->
			</tr>
			<tr>
				<td>携帯番号</td><!-- 項目名 -->
				<td>cellphone_number</td><!-- 真打 -->
				<td>ketai_number</td><!-- カート 入力 -->
				<td>ketai_number</td><!-- カート 確認 -->
				<td>user_keitai_number</td><!-- マイページ 入力 -->
				<td>user_keitai_number_text</td><!-- マイページ 確認 -->
			</tr>
		</table>	
		<table class="form_list">
			<caption>法人関係</caption>
			<tr>
				<th>項目名</th>
				<th>真打ち</th>
				<th>カート<br/>入力</th>
				<th>カート<br/>確認(テ)</th>
				<th>マイページ<br/>入力</th>
				<th>マイページ<br/>確認(テ)</th>
			</tr>
			<tr>
				<td>法人名</td><!-- 項目名 -->
				<td>job_name</td><!-- 真打 -->
				<td>office</td><!-- カート 入力 -->
				<td>job</td><!-- カート 確認 -->
				<td>user_office</td><!-- マイページ 入力 -->
				<td>user_office_text</td><!-- マイページ 確認 -->
			</tr>
			
			<tr>
				<td>URL</td><!-- 項目名 -->
				<td>url</td><!-- 真打 -->
				<td>-</td><!-- カート 入力 -->
				<td>-</td><!-- カート 確認 -->
				<td>user_url</td><!-- マイページ 入力 -->
				<td>user_url_text</td><!-- マイページ 確認 -->
			</tr>
			
			<tr>
				<td>備考・その他</td><!-- 項目名 -->
				<td>memo</td><!-- 真打 -->
				<td>-</td><!-- カート 入力 -->
				<td>-</td><!-- カート 確認 -->
				<td>order_memo</td><!-- マイページ 入力 -->
				<td>order_memo_text</td><!-- マイページ 確認 -->
			</tr>

		</table>

	</div>

</div>

<style type="text/css">
.column3{
	width:200px;
}
</style>

<style type="text/css">
.delete_btn{
	visibility:hidden;
}
.module_delete_btn{
	visibility:hidden;
}
.html_module_delete_btn{
	visibility:hidden;
}
</style>