<h2>アプリケーションテンプレート管理</h2>
<nav>
	<ol class="breadcrumb">
		<li><a soy:link="Site">サイト管理</a></li>
		<li><a soy:link="Site.Template">テンプレート管理</a></li>
		<li class="active">アプリケーションテンプレート管理</li>
	</ol>
</nav>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">アプリケーションテンプレート一覧</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>カートのアプリケーションテンプレート一覧</caption>
						<tr>
							<th class="col-lg-5">ID</th>
							<th class="col-lg-5">名前</th>
							<th class="col-lg-2">操作</th>
						</tr>
						<!-- soy:id="cart_template_list" -->
						<tr>
							<td soy:id="app_id">あああああ</td>
							<td class="column3" soy:id="name">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>
							</td>
						</tr>
						<!-- /soy:id="cart_template_list" -->
						<tfoot>
							<tr>
								<td colspan="3" class="text-right">
									&nbsp;
								</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<div class="table-responsive">
					<table class="table table-striped">
						<caption>マイページのアプリケーションテンプレート一覧</caption>
						<tr>
							<th class="col-lg-5">ID</th>
							<th class="col-lg-5">名前</th>
							<th class="col-lg-2">操作</th>
						</tr>
						<!-- soy:id="mypage_template_list" -->
						<tr>
							<td soy:id="app_id">あああああ</td>
							<td class="column3" soy:id="name">トップページ</td>
							<td class="column3">
								<a href="#" soy:id="edit_link" class="btn btn-primary">編集</a>
							</td>
						</tr>
						<!-- /soy:id="mypage_template_list" -->
						<tfoot>
							<tr>
								<td colspan="3" class="text-right">
									&nbsp;
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
