.treeview li{
	line-height:16px;
	padding-left:20px;
}

.selected_category{
	background-color:yellow;
}

#category_select_wrapper{
	position:absolute;

	height:300px;
	width:300px;
	overflow:auto;

	border:solid 2px #333;
	text-align:left;

	background:#eee url("./tools/loading.gif") no-repeat 50% 50%;
}